<!-- module html  -->
<div id="quizAnchor" class="sws-quiz-module__wrapper">
    <div class="sws-quiz-module__form-wrapper">
        <div class="sws-quiz-module__form" style="max-width: {{module.max_width}}px;">
            <h2>{{module.title}}</h2>
            {%  form "quiz"
            form_to_use="{{module.form.form_id}}"
            %}
        </div>
    </div>
    <div class="sws-quiz-module__results-wrapper">
        {% for result in module.results %}
            <div class="sws-quiz-module__result" data-result-string="{{result.result_string}}" style="max-width: {{module.max_width}}px;">
                <h2>{{result.title_text}}</h2>
                <div class="sws-quiz-module__text-w-image">
                    <div class="sws-quiz-module__result-image">
                        <img src="{{result.image.src}}" alt="{{result.image.alt}}" />
                    </div>
                    <div class="sws-quiz-module__result-text-w-cta">
                        <div class="sws-quiz-module-_result-text">
                            {{result.text}}
                        </div>
                        <div class="sws-quiz-module__result-cta">
                            {{ cta(result.cta) }}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>