.iso-banner-module {
    /*width: 100%;*/
    width: 99.8%;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
}

.iso-banner-module__element-wrapper {
    position: relative;
    overflow: hidden;
    height: 30vw;
    max-height: 340px;
    border-radius: 16px;
}

.iso-banner-module__image-container {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.covering-gradient {
    position: absolute;
    top:50%;
    left: 50%;
    transform:translate(-50%, -50%);
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 5;
}

.iso-banner-module__image-container img {
    position: absolute;
    top:50%;
    left: 50%;
    transform:translate(-50%, -50%);
    width: 100%;
    height: auto;
    z-index: 1;
}

.iso-baner-module__cta-icon-container {
    width: auto;
    display: inline-block;
    margin: 0 auto 24px;
}

.iso-baner-module__cta-icon-container img{
    width: auto;
    height: auto;
    max-height: 88px;
}

.iso-banner-module__image-container .mobile-image {
    display: block;
}

.iso-banner-module__image-container .desktop-image {
    display: none;
}

@media screen and (min-width: 1024px) {
    .iso-banner-module__image-container .mobile-image {
        display: none;
    }
    
    .iso-banner-module__image-container .desktop-image {
        display: block;
    }
}

.iso-banner-module__content-container {
    position: absolute;
    display: inline-block;
    width: 90%;
    max-width: 860px;
    height: auto;
    z-index: 10;
}

.iso-banner-module__content-container--justify-left {
    left: 40px;
}

.iso-banner-module__content-container--justify-center {
    left: 50%;
    text-align: center;
}

.iso-banner-module__content-container--justify-center:not(.iso-banner-module__content-container--align-center) {
    transform: translateX(-50%);
}


.iso-banner-module__content-container--justify-center * {
    text-align: center;
}

.iso-banner-module__content-container--justify-right {
    left: auto;
    right: 40px;
    text-align: right;
}

.iso-banner-module__content-container--justify-right * {
    text-align: right;
}

.iso-banner-module__content-container--align-bottom {
    bottom: 40px;
}

.iso-banner-module__content-container--align-center {
    top: 50%;
}
.iso-banner-module__content-container--align-center:not(.iso-banner-module__content-container--justify-center) {
    transform: translateY(-50%);
}

.iso-banner-module__content-container--align-center.iso-banner-module__content-container--justify-center{
    transform: translate(-50%, -50%);
}

.iso-banner-module__content-container--align-top {
    top: 40px;
}

.iso-banner-module__cta-content-text {
    padding-bottom: 24px;
    color: white;
}

.iso-banner-module__cta-content-text:last-child {
    padding-bottom: 0;
}

.iso-banner-module__cta-content-text * {
    color: white;
}

.iso-banner-module__content-container h2 {
    color: white;
    margin-bottom: 12px;
}