.flip-cards__wrapper {
    display: flex;
    flex-flow: wrap;
    margin: 0 -8px;
    justify-content: left;
}
.flip-cards__wrapper > * {
    width: calc(50% - 16px);
    margin: 8px;
}

@media screen and (max-width: 1024px) {
    .flip-cards__wrapper > * {
        margin: 8px 0;
        width: calc(100%);
    }
}

.m-service-card {
    perspective: 1000px;
    min-height: 0;
    transition: min-height 1000ms linear;
}
.m-service-card__inner {
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.m-service-card__front {
    background: white;
    border-radius: 1rem;
    display: flex;
    overflow: hidden;
    color: #111;
    box-shadow: 0 4px 32px #0140BE14;
    position: relative;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    z-index: 1;
}
.m-service-card__image {
    flex-basis: 45%;
    height: 363px;
    border-radius: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.m-service-card__content {
    flex-basis: 55%;
    padding: 2rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.m-service-card__content--back {
    flex-basis: 100%;
}

.m-service-card__title {
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: bold;
    color: #111;
    margin: 0 0 1.5rem;
}

.m-service-card__text {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.m-service-card__text > *:last-child {
    margin-bottom: 0;
}

.m-service-card__text p {
    font-size: 1rem;
    line-height: 1.5;
}

.m-service-card__buttons {
    display: flex;
    justify-content: space-between;
    margin: auto 0 0 0;
    align-items: center;
}

.m-service-card__button-contact {
    margin: auto 0 auto auto;
}

.m-service-card__content--back .m-service-card__buttons {
    justify-content: flex-end;
}

.m-service-card__toggle {
    position: absolute;
    width: 7.75rem;
    height: 7.75rem;
    border-radius: 50%;
    display: block;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    cursor: pointer;
    transition: all 200ms linear;
    background: #E6EBF8;
    border: 0;
}
.m-service-card__toggle:before {
    content: '';
    width: 23px;
    height: 26px;
    display: block;
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
    transform: rotate(180deg);
    transform-origin: center;
}
.m-service-card__back .m-service-card__toggle:before {
    transform: rotate(0);
}
.m-service-card__toggle:hover {
    transform: translate(50%, -50%) scale(1.2);
}

.m-service-card__back {
    background: white;
    border-radius: 1rem;
    display: flex;
    overflow: hidden;
    color: #111;
    box-shadow: 0 4px 32px #0140BE14;
    position: absolute;
    width: 100%;
    min-height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 2;
    transform: rotateY(180deg);
    top: 0;
    pointer-events: none;
}

.m-service-card--reversed .m-service-card__inner {
    transform: rotateY(180deg);
}

.m-service-card--reversed .m-service-card__front {
    pointer-events: none;
}

.m-service-card--reversed .m-service-card__back {
    pointer-events: visible;
}

@media screen and (max-width: 1024px) {
    .m-service-card {
        flex-basis: 100%;
        margin: 0.5rem 0;
    }

    .m-service-card__image {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0.1;
        filter: grayscale(1);
    }
    .m-service-card__toggle {
        z-index: 3;
    }
    .m-service-card__content {
        z-index: 2;
        flex-basis: 100%;
    }
}
