/*******************************************/
/*********  Pillar Module Style  ***********/
/*******************************************/

/*html {
  scroll-behavior: smooth;
}*/
.pillar__wrapper {
  width:100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

.pillar,
.pillar a,
.pillar__chapter {
  outline: none;
}
.pillar__chapter {
  padding: 20px 0;
}

.pillar__chapter__header {
  margin: 0;
}

.pillar__chapter .pillar__content {
  padding: 20px 0;
}
.pillar__btc {
  padding: 20px 0;
}
.pillar__list-element {
  display: list-item;
  text-align: left;
}