<!-- module html  -->
<div class="shadow-box__wrapper-module shadow-box__wrapper-module--sws">
    <h3 class="{{module.alignment}}">{{module.shadow_boxes_section_title}}</h3>
    <div class="shadow-box__wrapper-module__row columns{{module.boxes_row_ammount}}">
        {% for section in module.section_block %}
        <div class="shadow-box-wrapper-module__shadow-box-columnwrap span{{12//module.boxes_row_ammount}}">
            <div class="shadow-box__wrapper">
                <div class="shadow-box__image">
                    <img src="{{ section.image_field.src }}" alt="{{section.image_field.alt}}" />
                </div>
                <div class="shadow-box__header">
                    <h3>
                        {{ section.title_text }}
                    </h3>
                </div>
                <div class="shadow-box__content">
                    {{ section.content }}
                </div>
                {% if section.link_field.url.href %}
                    <div class="external-link-wrapper">
                        <a class="button {{section.link_type}}" href="{{section.link_field.url.href}}" target="{% if section.link_field.open_in_new_tab %}_BLANK{% else %}_SELF{% endif %}">{{ section.link_text }}</a>
                    </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
