.button-picker-module {
    display: inline-block;
    height: auto;
}

.button-picker-module--left {
    text-align: left;
}

.button-picker-module--center {
    text-align: center;
}

.button-picker-module--right {
    text-align: right;
}

@media screen and (max-width: 1023px) {
    .button-picker-module--mobile-left {
        text-align: left;
    }
    
    .button-picker-module--mobile-center {
        text-align: center;
    }
    
    .button-picker-module--mobile-right {
        text-align: right;
    }
}

.button-picker-module .button {
    margin: 0 auto;
}

.button-picker-module .button-picker__cta-wrapper a.cta_button.cta_button   {
    text-decoration: none;
    line-height: 1.15;
}