<!--
  templateType: blog
  isAvailableForNewContent: true
  label: Isobar-default - blog listing
  screenshotPath: ../images/template-previews/blog-index.png
-->
{% extends './layouts/base.html' %}

{% block body %}
<main class="body-container-wrapper iso-blog-list">
  <div class="body-container body-container--blog-index">

    <div class="content-wrapper">
      {# Blog header #}
      <div class="header">
        <div class="header__inner">
          {% if tag %}
            <h1 class="header__title">{{ group.public_title }} ({{page_meta.html_title|split(' | ')|last}})</h1>
          {% else %}
            <h1 class="header__title">{{ group.public_title }}</h1>
          {% endif %}
          <h4 class="header__subtitle">{{ group.description }}</h4>
          <!-- <div class="header__form">
            {% module "blog_subscribe_form" path="@hubspot/blog_subscribe",
              title=""
            %}
          </div> -->
        </div>
      </div>
      {# End blog header #}

      {# Blog listing section #}
      <section class="blog-index dnd-section">

        {# Blog listing #}
        {% for content in contents %}
          {# On the blog listing page, the first post will be featured above older posts #}
          {% if (loop.first && current_page_num == 1 && !topic) %}
          <div class="row-fluid iso-blog-list__shadow-box-wrapper iso-blog-list__row-fluid--custom">
            <article class="blog-index__post blog-index__post--large span10 iso-blog-list__article  iso-blog-list__shadowbox-wrapper">
              {% if content.featured_image and group.use_featured_image_in_summary %}
              <div class="iso-blog-list__post-image blog-index__post-image--large"
              {% if content.featured_image %}
              style="background-image: url('{{ content.featured_image }}');"
              {% endif %}
              href="{{ content.absolute_url }}">
              </div>
              {% endif %}
              <div class="iso-blog-list__post-content  blog-index__post-content--large{% if !content.featured_image or !group.use_featured_image_in_summary %} blog-index__post-content--full-width{% endif %}">
                <h3 class="iso-blog-list__post-content__header">{{ content.name }}</h3>
                {% if content_group.show_summary_in_listing %}
                <div class="iso-blog-list__post-content__content"><p>{​​​​​​​​{​​​​​​​​ content.post_list_content|striptags|truncatehtml(220) }​​​​​​​​}​​​​​​​​</p></div>
                {% endif %}
                <a class="button button--primary" href="{{ content.absolute_url }}">{{ widget_data.translations_global.read_more}}</a>
              </div>
            </article>
          </div>
          {% else %}
          <div class="row-fluid iso-blog-list__row-fluid--custom">
            <article class="span10 iso-blog-list__article blog-index__post--small  iso-blog-list__shadowbox-wrapper">
              {% if content.featured_image and group.use_featured_image_in_summary %}
              <div class="iso-blog-list__post-image blog-index__post-image--small" style="background-image: url('{{ content.featured_image }}');" href="{{ content.absolute_url }}">
              </div>
              {% endif %}
              <div class="iso-blog-list__post-content  blog-index__post-content--small">
                <h3 class="iso-blog-list__post-content__header">{{ content.name }}</h3>
                {% if content_group.show_summary_in_listing %}
                <div class="iso-blog-list__post-content__content"><p>{​​​​​​​​{​​​​​​​​ content.post_list_content|striptags|truncatehtml(220) }​​​​​​​​}​​​​​​​​</p></div>
                {% endif %}
                <a class="button button--primary" href="{{ content.absolute_url }}" disabled="true">{{ widget_data.translations_global.read_more}}</a>
              </div>
            </article>
          </div>
          {% endif %}
        {% endfor %}
        {# End blog listing #}
      </section>
      {# End blog listing section #}

      {# Blog pagination #}
      {% if contents.total_page_count > 1 %}
        <div class="blog-pagination dnd-section">
          {% set page_list = [-2, -1, 0, 1, 2] %}
          {% if contents.total_page_count - current_page_num == 1 %}{% set offset = -1 %}
          {% elif contents.total_page_count - current_page_num == 0 %}{% set offset = -2 %}
          {% elif current_page_num == 2 %}{% set offset = 1 %}
          {% elif current_page_num == 1 %}{% set offset = 2 %}
          {% else %}{% set offset = 0 %}{% endif %}

          <a class="button blog-pagination__link blog-pagination__prev-link {{ 'blog-pagination__prev-link--disabled disabled' if !last_page_num }}" href="{{ blog_page_link(last_page_num) }}">
            <span class="icon">
              {% icon
                name='chevron-left',
                no_wrapper=True,
                purpose='decorative',
                style='SOLID',
                width='15'
                %}
            </span>
            Poprzednia
          </a>
          {% for page in page_list %}
            {% set this_page = current_page_num + page + offset %}
            {% if this_page > 0 and this_page <= contents.total_page_count %}
              <a class="blog-pagination__link blog-pagination__number-link number button {{ 'blog-pagination__link--active button--disabled disabled' if this_page == current_page_num }}" href="{{ blog_page_link(this_page) }}">{{ this_page }}</a>
            {% endif %}
          {% endfor %}
          <a class="button blog-pagination__link blog-pagination__next-link {{ 'blog-pagination__next-link--disabled button--disabled disabled' if !next_page_num }}" href="{{ blog_page_link(current_page_num + 1) }}">
            Następna
            <span class="icon">
              {% icon
                name='chevron-right',
                no_wrapper=True,
                purpose='decorative',
                style='SOLID',
                width='15'
              %}
            </span>
          </a>
        </div>
      {% endif %}
      {# End blog pagination #}

    </div>

  </div>
</main>
{% endblock body %}
