/* @import url('http://example.com/example_style.css'); */

/***********************************************/
/* CSS @imports must be at the top of the file */
/* Add them above this section                 */
/***********************************************/

/*****************************************/
/* Start your style declarations here    */
/*****************************************/

.header--landing-page {
  display: none;
}

.row-number-1 .span6.widget-span.widget-type-cell.dnd-column {
  justify-content: flex-start !important;
  padding: 0 25px 50px;
  width: 100%;
}

@media screen and (max-width: 999px) {
  .row-number-1 > .row-fluid {
    flex-wrap:wrap;
  }
  
  .row-number-1 .span6.widget-span.widget-type-cell.dnd-column:nth-of-type(2) {
    height: 100vw;
    position:relative;
  }
  
  .row-number-1 .span6.widget-span.widget-type-cell.dnd-column:nth-of-type(2) .row-fluid-wrapper.row-depth-1.row-number-4.dnd-row {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .row-number-1 .span6.widget-span.widget-type-cell.dnd-column:nth-of-type(2) .cell_1603218796104-row-1-vertical-alignment {
    position: absolute;
    bottom: 0px;
    left: 50%;
    top: auto;
    transform: translateX(-50%);
  }
  
  .row-number-1 .span6.widget-span.widget-type-cell.dnd-column:nth-of-type(2) .cell_1603218796104-row-1-vertical-alignment > .row-fluid{
    height: 76px;
  }
  
}

@media screen and (max-width: 500px) {
  .row-number-1 .span6.widget-span.widget-type-cell.dnd-column:nth-of-type(2) .row-fluid-wrapper.row-depth-1.row-number-4.dnd-row {
    width: 90%;
  }
  
  .row-number-1 .span6.widget-span.widget-type-cell.dnd-column:nth-of-type(2) .cell_1603218796104-row-1-vertical-alignment>.row-fluid {
    height: 35px;
  }
  
  .row-number-1 .span6.widget-span.widget-type-cell.dnd-column:nth-of-type(2) .row-fluid-wrapper.row-depth-1.row-number-4.dnd-row * {
    font-size: 12px !important;
  }
  
  #hs-button_widget_1601015111838, #hs-button_widget_1601015111838:hover, #hs-button_widget_1601015111838:active, #hs-button_widget_1601015111838:visited {
    padding: 8px 25px !important;   
  }
  
  #hs_form_target_widget_1600941708103 .form-label {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1000px) {
  width: 49%;
  .row-number-1 .span6.widget-span.widget-type-cell.dnd-column {
    width: 100%;
    min-height: 491px;
  }
}

.row-number-1 .span6.widget-span.widget-type-cell.dnd-column .span12.widget-span.widget-type-custom_widget.widget_1601027585496-flexbox-positioning{
  padding: 15px 0;
}

#hs_cos_wrapper_widget_1603222104380 * {
  color: black;
}

#hs_cos_wrapper_widget_1603222104380 .banner__header {
  padding: 25px 0;
}

#hs_cos_wrapper_widget_1603222104380 .banner__default-paragraph {
  padding: 0 0 15px;
  font-size: 30px;
}

.row-number-17 > .row-fluid > .widget-span {
  position: relative;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 8px 32px #002C8414;
  border-radius: 16px;
  opacity: 1;
  height: 332px;
  padding: 30px 25px;
  margin-bottom: 35px;
}


@media (max-width: 768px) {
  .row-number-17 > .row-fluid > .widget-span {
    height:auto;
    margin-bottom:45px;
  }
}

.row-number-18 .cta_button,
.row-number-19 .cta_button,
.row-number-20 .cta_button {
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translate(-50%, 50%);
}

.row-number-21 > .row-fluid {
  background: #F7F9FD 0% 0% no-repeat padding-box;
  border-radius: 0px 50px;
  opacity: 1;
}

.row-number-21 {
  background-position-x: 75% !important;
  background-position-y: 40px !important;
} 

#hs-button_widget_1600942075550 {
  background: transparent linear-gradient(180deg, #004BE2 0%, #0140BD 75%, #0338A2 100%) 0% 0% no-repeat padding-box;
  border-radius: 8px;
  opacity: 1;
  backdrop-filter: blur(22px);
  -webkit-backdrop-filter: blur(22px);
  color: #fff !important;
  text-decoration: none;
  padding: 10px 40px;
}

.cell_16009419171462-vertical-alignment {
  position: relative;
}

.cell_16009419171462-vertical-alignment h4 img {
  position: absolute;
  top: -40px;
  left: 75%;
}

@media (max-width: 1139px) and (min-width: 768px) {
  .row-number-23 > .row-fluid {
    flex-wrap: wrap;
    justify-content: center;
  }
  .row-number-23 > .row-fluid > .span4 {
    width: 48%;
  }
  
  .cell_16010377825722-row-1-vertical-alignment > .row-fluid {
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .cell_16010377825722-row-1-vertical-alignment > .row-fluid > .span4 {
    width: 48%;
  }
}

/* Quiz */


form.hs-form {
    background: transparent;
    text-align: center;
    width: 100%;
    height: 42vw;
}

#hs_form_target_widget_1600941708103 form{
  width: 100%;
}

#hs_form_target_widget_1600941708103  .form-label {
    color: #A9BAE3;
    font-weight: bold;
}

#hs_form_target_widget_1600941708103 label {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 21px;
}

#hs_form_target_widget_1600941708103 .input {
  margin: 0 auto;
  max-width: 95%;
}

#hs_form_target_widget_1600941708103 .input label span {
  background: rgba(22, 43, 86, 0.34);
  border: 1px solid white;
  color: white !important;
}

#hs_form_target_widget_1600941708103 .input label input:checked+span {
  background: #90AADD;
}

.row-number-1 .cell_1603218796104-vertical-alignment {
  min-height: 120px;
}

.row-number-1 .cell_1603218796104-vertical-alignment .row-fluid-wrapper.row-depth-1.row-number-5.cell_1603218796104-row-1-vertical-alignment.dnd-row >.row-fluid {
  display: flex;
  justify-content: center;
}

.row-number-1 .cell_1603218796104-vertical-alignment .row-fluid-wrapper.row-depth-1.row-number-5.cell_1603218796104-row-1-vertical-alignment.dnd-row >.row-fluid > *{
  display: inline-block;
  width: 30%;
  min-width: 130px;
  margin: 0;
  padding: 0;
  transform: none;
}

.row-number-1 .cell_1603218796104-vertical-alignment .row-fluid-wrapper.row-depth-1.row-number-5.cell_1603218796104-row-1-vertical-alignment.dnd-row >.row-fluid .row-fluid-wrapper.row-depth-1.row-number-6.dnd-row > .row-fluid{
  transform: none;
  padding: 0;
  height: auto;
  width: 100%;
  margin: 0;
  background: transparent;
  text-decoration: none;
  color: white;
}

.widget_1601015102478-flexbox-positioning {
  text=align: center;
}

#hs-button_widget_1601015102478, #hs-button_widget_1601015102478:hover, #hs-button_widget_1601015102478:active, #hs-button_widget_1601015102478:visited {
  color: white !important;
  text-decoration: none;
  cursor: pointer;
}

#hs_cos_wrapper_widget_1601015102478 {
  float: none;
  margin: 0 auto;
}

#hs-button_widget_1601015111838,  #hs-button_widget_1601015111838:hover, #hs-button_widget_1601015111838:active, #hs-button_widget_1601015111838:visited {
  background: white;
  border-radius: 8px;
  opacity: 1;
  padding: 20px 40px;
  color: #0140BE;
  text-decoration: none;
  font-weight: bold;
}

.hs_step2,
.hs_step3 {
  display: none;
}

#hs_form_target_widget_1600941708103 form {
  padding-left: 0;
  padding-right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputs-list.multi-container li {
  margin: 10px auto;
}

input[type="submit"]{
  display: none !important;
}

/* How it works */

.row-fluid-wrapper.row-depth-1.row-number-8.dnd_area-row-1-padding.dnd-section > .row-fluid {
  padding: 75px 0 !important; 
  background-color: #F7F9FD;
  border-radius: 0px 50px;
}

.row-fluid-wrapper.row-depth-1.row-number-8.dnd_area-row-1-padding.dnd-section .row-fluid-wrapper.row-depth-1.row-number-10.dnd-row.cell_16009418057912-row-1-vertical-alignment > .row-fluid {
  align-items: flex-start;
  padding-top: 38px;
}


.row-number-6 > .row-fluid {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 8px 32px #002C8414;
  border-radius: 16px;
  opacity: 1;
  padding: 20px 10px 60px 10px;
  transform: translate(0, 50px);
}

.row-number-6 > .row-fluid h1 {
  text-align: center;
  color: #A5A5A5;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 0 !important;
}

.row-number-6 > .row-fluid  .hs-richtext {
  margin-bottom: 0 !important;
}

.hs-form-radio-display {
  display: block;
  margin: 0 auto;
}

.hs-form-radio-display span {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #E5EBF9;
  border-radius: 16px;
  opacity: 1;
  padding: 15px 25px;
  cursor: pointer;
  display: inline-block;
  color: #000 !important;
  line-height: 16px;
}

.hs-form-radio-display input {
  display: none;
}

.hs-form-radio-display input:checked + span {
  border: 1px solid #0140BE;
  color: #0140BE !important;
}

.hs-form-radio-display{
  text-align: center;
  margin: 30px 0;
}

.row-number-8 > .row-fluid {
  display: flex;
  justify-content: space-between;
}

#hs-button_widget_1601015102478 {
  text-align: center;
  font-size: 16px;
  letter-spacing: 0px;
  color: #A5A5A5;
  opacity: 1;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .hs-form-radio-display {
    margin: 5px auto;
  }
}


@media screen and (min-width: 769px) and (max-width: 1080px) {
  .row-number-17>.row-fluid>.widget-span {
    height: 465px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1050px) {
  .span3.widget-span.widget-type-cell.cell_1600941923788-vertical-alignment.dnd-column {
    display: none !important;
  }
  
  .span9.widget-span.widget-type-cell.cell_16009419171462-vertical-alignment.dnd-column {
    width: 100%;
  }
  
  .cell_16009419171462-vertical-alignment .row-fluid-wrapper.row-depth-1.row-number-25.dnd-row [class*="span"] {
    width: 19.764641%;
    margin-left: 0.22766%;
  }
}







