.external-link-box__wrapper {
  display: inline-block;
  text-align: left;
  padding: 24px 40px;
  background-color: #fff;
  height: 100%;
  width: 100%;
  border-radius: 16px;
  box-shadow: 0 8px 32px rgba(1, 64, 190 , 0.08);
  margin-bottom: 8px;
}

.external-link-box__wrapper.centered {
  text-align: center;
}

.external-link-box__wrapper.external-link-box--image-spacing {
  padding: 40px;
}

.external-link-box__image {
  padding-bottom: 24px;
}

.external-link-box__image img {
  height: 88px;
  width: auto;
}

.external-link-box__image header {
  padding-bottom: 16px;
}

.external-link-box__image header p {
  margin-bottom: 0;
}

.external-link-box__header p {
  margin-bottom: 16px;
}

.external-link-box__content {
  padding-bottom: 24px
}

.external-link-box__content p {
  margin-bottom: 16px
}

.external-link-box__content p:last-child {
  margin-bottom: 0;
}

.external-link-box__link-button-wrapper {
  width: 100%;
  padding: 0;
  margin: 0;
  padding-bottom: 24px;
}

.external-link-box__link-button-wrapper:last-child {
  padding:0;
  text-align: inherit;
}

.external-link-box__link-button-wrapper a {
  margin: 0 auto;
}

.external-link-box__read-more-wrapper {
  padding: 0;
  text-align: inherit;
}

.external-link-box__read-more-wrapper a {
  margin: 0 auto;
}