<div class="external-link-box__wrapper 
{% if module.image_field.src %}external-link-box--image-spacing{% else %}centered{% endif %}
">
  {% if module.content %}
    <div class="external-link-box__image">
      <img src="{{ module.image_field.src }}" alt="{{module.image_field.alt}}" />
    </div>
  {% endif %}
  <div class="external-link-box__header">
    <p>
      <strong>{{ module.title_text }}</strong>
    </p>
  </div>
  {% if module.content %}
  <div class="external-link-box__content">
    {{ module.content }}
  </div>
  {% endif %}
  {% if module.download_link_group.link_field.url.href && module.download_link_group.link_text %}
    <div class="external-link-box__link-button-wrapper">
      <a href="{{module.download_link_group.link_field.url.href}}" target="{% if module.download_link_group.link_field.open_in_new_tab %}_blank{% else %}_self{% endif %}" class="button button--primary external-link-box__button" tabindex="0">{{module.download_link_group.link_text}}</a>
    </div>
  {% endif %}
  {% if module.more_link_group.more_link.url.href && module.more_link_group.more_link_text %}
  <div class="external-link-box__read-more-wrapper">
    <a href="{{module.more_link_group.more_link.url.href}}" target="{% if module.more_link_group.more_link.open_in_new_tab %}_blank{% else %}_self{% endif %}" class="button external-link-box__more-link" tabindex="0">{{module.more_link_group.more_link_text}}</a>
  </div>
  {% endif %}
</div>