.contact-switcher {
    display:flex;
    justify-content: space-between;
}

.contact-switcher__item {
    flex-basis: 374px;
}

.contact-switcher__content {
    display: none;
    width: 100%;
    max-width: 608px;
    margin: 0 auto;

}

.c-switch {
    border-radius: 16px;
    border: 1px solid #D1D1D1;
    padding: 16px;
    box-sizing: border-box;
    position: relative;
    width:100%;
    height:130px;
    cursor: pointer;
    background: white;
    text-align: left;
}

.contact-switcher__item.arrowed {
    position: relative;
    padding-bottom: 143px;
}

.contact-switcher__item.arrowed:after {
    content: '';
    display: block;
    position: absolute;
    top: auto;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 110px;
    width: 292px;
    max-width: 100%;
    max-height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.c-switch__title {
    position:absolute;
    font-size: 20px;
    font-weight: normal;
    top:50%;
    transform: translateY(-50%);
    padding-left: 114px;
}

.c-switch__title__image {
    position: absolute;
    width: 98px;
    height: auto;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.c-switch__check {
    width: 20px;
    height: 20px;
    border: 1px solid #D1D1D1;
    display: inline-flex;
    border-radius: 50%;
    position: relative;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.c-switch--active{
    border-color: #0140BE;
}
.c-switch__check:before {
    content: '';
    width: 12px;
    height: 12px;
    background: #0140BE;
    border-radius: 50%;
    visibility: hidden;
    display: block;
}
.c-switch--active .c-switch__check:before {
    visibility: visible;
}

.contact-tab {
    display: none;
    margin-top: 30px;
}

.contact-page {
    max-width: 815px;
    margin: 0 auto;
}


.contact-switcher__label {
    font-weight: bold;
    padding: 2rem 0 1rem 0;
    display: block;
    text-align: center;
}

.contact-static {
    display: table;
    margin: 0 auto;
    max-width: 600px;
}

.contact-static-box {
    display: flex;
    max-width: 600px;
    margin: 0 0 1rem;
    align-items: center;
}

.contact-static-box__image {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    max-width: 60px;
    height: 60px;
    flex-basis: 60px;
}

.contact-static-box__image-el {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.contact-accordion {
    margin-bottom: 2rem;
}



@media screen and (max-width: 700px) {
    .contact-switcher {
        flex-direction: column;
        align-items: center;
    }
    .contact-switcher__item {
        flex-basis: 100%;
        margin: 0.5rem 0;
        max-width: 280px;
        width: 100%;
    }
    .c-switch {
        height: 100px;
        text-align: left;
    }
    .c-switch__title {
        font-size: 1rem;
    }
    .c-switch__title__image {
        width: auto;
        height: 60px;
        left: 15px;
    }
    .contact-static {
        text-align: center;
    }
    .contact-static-box {
        flex-direction: column;
    }
}
