<!-- module html  -->
<style>
    .iso-banner-module--{{name}} .iso-banner-module__element-wrapper {
        height: {{module.height}};
        max-height: {{module.max_height}};
    }
    @media screen and (max-width: 1023px) {
        .iso-banner-module--{{name}} .iso-banner-module__element-wrapper {
            height: {{module.mobile_height}};
            max-height: {{module.mobile_max_height}};
        }
    }

    .iso-banner-module--{{name}} .iso-banner-module__cta-content-text {
        color: rgba({{module.font_color.color|convert_rgb}}, {{module.font_color.opacity}});
    }

    .iso-banner-module--{{name}} .iso-banner-module__cta-content-text * {
        color: rgba({{module.font_color.color|convert_rgb}}, {{module.font_color.opacity}});
    }

    .iso-banner-module--{{name}} .iso-banner-module__content-container h2 {
        color: rgba({{module.font_color.color|convert_rgb}}, {{module.font_color.opacity}});
    }

    {% if module.mobile_cover.opacity %} 
        @media screen and (max-width: 1023px) {
            .iso-banner-module--{{name}} .iso-banner-module__image-container:after {
                content: "";
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
                pointer-events: none;
                background-color: rgba({{module.mobile_cover.color|convert_rgb}}, 0.{{module.mobile_cover.opacity // 10}});
            }
        }
    {% endif %}
</style>
<div class="iso-banner-module iso-banner-module--{{name}}">
    {% for image in module.images_block %}
        <div class="iso-banner-module__element-wrapper"  style="width:{{100 // loop.length}}%">
            <div class="iso-banner-module__image-container">
                <div class="covering-gradient"
                {% set opacity_start =  module.start_prc / 100 %}
                {% set opacity_base =  module.base_prc / 100 %}
                {% set opacity_end =  module.end_prc / 100 %}
                {% set color = module.gradient_color.color|convert_rgb %}

                style="background-image: linear-gradient(to bottom,
                        rgba({{color}}, {{opacity_base}}) 0%,
                        rgba({{color}}, {{opacity_start}}) {{module.start_pos}}% ,
                        rgba({{color}}, {{opacity_end}}) 100%);
                "></div>
                <img class="desktop-image" src="{{image.image.src}}" alt="{{image.image.alt}}" />
                <img class="mobile-image" src="{{image.mobile_image.src}}" alt="{{image.mobile_image.alt}}" />
            </div>

            <div class="iso-banner-module__content-container iso-banner-module__content-container--{{image.horizontal_alignment}}  iso-banner-module__content-container--{{image.vertical_alignment}}">
                {% if image.text_icon.src %} 
                    <div class="iso-baner-module__cta-icon-container">
                        <img src="{{image.text_icon.src}}" alt="{{image.text_icon.alt}}">
                    </div>
                {% endif %}
                {% if image.cta_text %}<h2>{{image.cta_text}}</h2>{% endif %}
                {% if image.cta_content_text%}<div class="iso-banner-module__cta-content-text">{{image.cta_content_text}}</div>{% endif %}
                {% if image.link_group.link_field.url.href != "" && image.link_group.link_text != "" %}
                <a class="button button--{{image.link_group.button_type}}" target="{% if image.link_group.link_field.open_in_new_tab %}_blank{% else %}_self{% endif %}" href="{{image.link_group.link_field.url.href}}" tabindex="0">
                        {{image.link_group.link_text}}
                {% endif %}
                </a>
            </div>
        </div>
    {% endfor %}
</div>
