<!-- module html  -->
<style>
    {% for image in module.images %}
        .{{module.parent_class}}.image{{loop.index}} {
            {% if image.mobile.is_visible_on_mobile %}
                display: block;
                {% if image.mobile.is_top_related %}
                    top: {{image.mobile.vertical_offset}}{{image.mobile.vertical_units}};
                    bottom: auto;
                {% else %}
                    bottom: {{image.mobile.vertical_offset}}{{image.mobile.vertical_units}};
                    top: auto;
                {% endif %}
                {% if image.mobile.is_left_related %}
                    left: {{image.mobile.horizontal_offset}}{{image.mobile.horizontal_units}};
                    right: auto;
                {% else %}
                    right: {{image.mobile.horizontal_offset}}{{image.mobile.horizontal_units}};
                    left: auto;
                {% endif %}
            {% else %}
                display: none;
            {% endif %}
        }
        @media screen and (min-width: {{image.min_width_display}}px) {
            .{{module.parent_class}}.image{{loop.index}} {
                display: block;
                {% if image.desktop.is_top_related %}
                    top: {{image.desktop.vertical_offset}}{{image.desktop.vertical_units}};
                    bottom: auto;
                {% else %}
                    bottom: {{image.desktop.vertical_offset}}{{image.desktop.vertical_units}};
                    top: auto;
                {% endif %}
                {% if image.desktop.is_left_related %}
                    left: {{image.desktop.horizontal_offset}}{{image.desktop.horizontal_units}};
                    right: auto;
                {% else %}
                    right: {{image.desktop.horizontal_offset}}{{image.desktop.horizontal_units}};
                    left: auto;
                {% endif %}
                width: {{image.desktop.width}}px;
                z-index: {{loop.indez + 10}};
            }
        }
    {% endfor %}
</style>
{% for image in module.images %}
    <img class="bgimage-module__image {{module.parent_class}} image{{loop.index}}" src="{{image.image_file.src}}" alt="{{image.image_file.alt}}">
{% endfor %}