<!-- module html  -->
<div class="list-download-button-wrapper-module">
    <div
        class="list-download-button-wrapper-module__row columns{{module.boxes_row_ammount}} {% if module.is_files_list %}files-list {% endif %}">
        {% for section in module.section_block %}
        <div
            class="list-download-button-wrapper-module__list-download-button-columnwrap span">
            {% if ((section.download_link_group.link_field.url.href is truthy) and
            not(section.more_link_group.more_link.url.href is truthy)) or
            (not(section.download_link_group.link_field.url.href is truthy) and
            (section.more_link_group.more_link.url.href is truthy)) %}
            {% set click_propagate = true %}
            {% else %}
            {% set click_propagate = false %}
            {% endif %}
            <div class="list-download-button__wrapper 
            {% if section.image_field.src %}external-link-box--image-spacing{% else %}centered{% endif %} 
            {% if click_propagate %}click-propagator{% endif %}
            ">
            <div class="list-download-button__bg-blur"></div>

                <div class="list-download-button__image">
                    <img src="{{ section.image_field.src }}" />
                </div>
                <div class="list-download-button__header">
                    <p>
                        <strong>{{ section.title_text }}</strong>
                    </p>
                </div>
                {% if section.download_link_group.link_field.url.href %}
                <div class="list-download-button__link-button-wrapper">
                    <a href="{{section.download_link_group.link_field.url.href}}"
                        class="button button--primary list-download-button__button"
                        download
                        target="{% if section.download_link_group.link_field.open_in_new_tab %}_blank{% else %}_self{% endif %}"
                        tabindex="0">{{section.download_link_group.link_text}}</a>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>