<!--
  templateType: global_partial
  label: Footer
-->
<footer class="footer default-shadow-box">
  <div class="footer__container">
    {% module "module_16085588724713" path="/isobar-eservice-theme/modules/footer", label="footer" %}
    <div class="footer__additional-links">
      <div class="content-wrapper">
        <div class="row-fluid">
          <div class="span9 dnd-column">
            {% module "module_16086302492556" path="/isobar-eservice-theme/modules/footer-sublinks", label="footer-sublinks" %}
          </div>
          <div class="span3 dnd-column">
            {# Social follow section #}
            {% module_block module 'footer_social' path='../../modules/social-follow',
              label='Social follow'
            %}
              {% module_attribute 'social_link' is_json=True %}
                [
                  {"social_account": "facebook-f"},
                  {"social_account": "linkedin-in"},
                  {"social_account": "twitter"},
                  {"social_account": "instagram"}
                ]
              {% end_module_attribute %}
            {% end_module_block %}
            {# End social follow section #}
          </div>
        </div>
      </div>
    </div>


    {# Copyright information section #}
    <div class="footer__copyright">
      <div class="footer__copyright__text">
        {% module_block module 'footer_copyright_text' path='@hubspot/text' %}
        {% module_attribute 'value' %}© {{ year }} eService Sp. z o.o. Wszelkie prawa zastrzeżone{% end_module_attribute %}
        {% end_module_block %}
      </div>
    </div>
    {# End copyright information section #}

  </div>
</footer>
