<!--
  templateType: global_partial
  label: Footer CBA
-->
{% text "service-name" label='Service name', export_to_template_context=True, value='eService' %}
{% text "allrr-text" label='All rights reserved text', export_to_template_context=True, value='sp. z o.o.' %}
{% boolean "additional_visible" label='Is footer additional section visible?', export_to_template_context=True, value=true %}
<footer class="footer default-shadow-box">
  <div class="footer__container footer__container--cba">
    {% module "footer-cba" path="/isobar-eservice-theme/modules/footer-cba/footer-cba-si", label="footer-cba-si" %}
    {% if widget_data['additional_visible'].value %}
    <div class="footer__additional-links">
      <div class="content-wrapper">
        <div class="row-fluid">
          <div class="span9 dnd-column">
            {% module "footer-sublinks-cba" path="/isobar-eservice-theme/modules/footer-cba/footer-sublinks-cba-si", label="footer-sublinks-si" %}
          </div>
          <div class="span3 dnd-column">
            {# Social follow section #}
            {% module_block module 'footer_social' path='../../modules/footer-cba/social-follow-si',
              label='Social follow si'
            %}
              {% module_attribute 'social_link' is_json=True %}
                [
                  {"social_account": "facebook-f"},
                  {"social_account": "linkedin-in"},
                  {"social_account": "twitter"},
                  {"social_account": "instagram"}
                ]
              {% end_module_attribute %}
            {% end_module_block %}
            {# End social follow section #}
          </div>
        </div>
      </div>
    </div>
    {% endif %}

    {# Copyright information section #}
    <div class="footer__copyright">
      <div class="footer__copyright__text">
        &copy; {{ year }} {{ widget_data['service-name'].value}} {{ widget_data['allrr-text'].value}}
      </div>
    </div>
    {# End copyright information section #}

  </div>
</footer>
