.horizontal-shadow-box__wrapper-module {
    max-width: 1232px;
    margin: 0 auto;
  }
  
  .horizontal-shadow-box__wrapper-module__row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: stretch;
      justify-content: flex-start;
  }

  @media screen and (max-width: 1023px) {
    .horizontal-shadow-box__wrapper-module__row {
      justify-content: center;
    }
  }
  
  .horizontal-shadow-box-wrapper-module__horizontal-shadow-box-columnwrap {
    margin-bottom: 24px;
    width: 100%;
  }
  
  
  .horizontal-shadow-box-wrapper-module__horizontal-shadow-box-columnwrap--arrowed:after {
    content: '';
    display: block;
    position: absolute;
    width: 40%;
    height: auto;
    min-height: 50px;
    left: 80%;
    top: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    min-width: 40%;
    max-width: 40%;
    height: auto;
    z-index: 4;
  }
  
  .horizontal-shadow-box-wrapper-module__horizontal-shadow-box-columnwrap--arrowed:last-child:after {
    content: null;
    display: none;
  }
  
  .horizontal-shadow-box__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: stretch;
    text-align: center;
    padding: 40px 0;
    height: 100%;
    width: 100%;
    margin-bottom: 8px;
  }
  
  @media screen and (max-width: 1023px) {
    .horizontal-shadow-box__wrapper {
      justify-content: center;
    }
  }

  .horizontal-shadow-box__wrapper:not(.horizontal-shadow-box__wrapper--color-box, .horizontal-shadow-box__wrapper--placeholder) {
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0px 8px 32px #002C8414;
  }
  
  
  .horizontal-shadow-box__wrapper--placeholder {
    background-color: transparent;
    box-shadow: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .horizontal-shadow-box__image {
    padding-right: 16px;
    flex-grow: 0;
  }
  
  .horizontal-shadow-box__image img {
    max-height: 88px;
    max-width: 100%;
    height: auto;
    width: auto;
  }
  
  .horizontal-shadow-box__wrapper--placeholder .horizontal-shadow-box__image{
    padding: 0;
  }
  
  .horizontal-shadow-box__wrapper--placeholder .horizontal-shadow-box__image img{
    max-width: 50%;
  }
  
  .horizontal-shadow-box__image header {
    padding-right: 16px;
  }
  
  .horizontal-shadow-box__header {
    padding: 16px;
  }
  
  .horizontal-shadow-box__header h3{
    margin: 0 auto;
  }

  .horizontal-shadow-box__content {
    padding-right: 16px;
    text-align: left;
    flex-grow: 1;
  }
  
  .horizontal-shadow-box__content p {
    margin-bottom: 16px
  }
  
  .external-link-wrapper {
    position: relative;
    justify-self: flex-end;
    flex-grow: 0;
    flex-shrink: 0;
  }
  
  .horizontal-shadow-box__content p:last-child {
    margin-bottom: 0;
  }
  
  @media screen and (max-width: 1023px) {
    .horizontal-shadow-box-wrapper-module__horizontal-shadow-box-columnwrap--arrowed {
      padding-top: 0;
    }
  
    .horizontal-shadow-box-wrapper-module__horizontal-shadow-box-columnwrap--arrowed:after {
      width: 34px;
      height: auto;
      min-height: 80px;
      right: 0;
      bottom: -56px;
      left: auto;
      top: auto;
      min-width: 34px;
      max-width: 34px;
    }
  
    .horizontal-shadow-box-wrapper-module__horizontal-shadow-box-columnwrap--arrowed:nth-child(2n):after {
      transform:matrix(-1,0,0,1,0,0);
      right: auto;
      left: 0;
    }
  
    .horizontal-shadow-box-wrapper-module__horizontal-shadow-box-columnwrap--arrowed:last-child:after {
      content: null;
      display: none;
    }
  }