.shadow-box__wrapper-module {
  max-width: 1232px;
  margin: 0 auto;
}

.shadow-box__wrapper-module__row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
}

.shadow-box-wrapper-module__shadow-box-columnwrap {
  margin-bottom: 24px;
}

.shadow-box__wrapper {
    display: inline-block;
    text-align: center;
    background-color: #fff;
    padding: 40px 0;
    height: 100%;
    width: 100%;
    border-radius: 16px;
    box-shadow: 0 8px 32px rgba(1, 64, 190 , 0.08);
    margin-bottom: 8px;
  }
  
  .shadow-box__image {
    padding-bottom: 24px;
  }
  .shadow-box__image:last-child {
    padding-bottom: 0px;
  }
  
  .shadow-box__image img {
    max-height: 88px;
    max-width: 100%;
    height: auto;
    width: auto;
  }
  
  .shadow-box__image header {
    padding-bottom: 16px;
  }

  .shadow-box__image:last-child header {
    padding-bottom: 0;
  }
  
  .shadow-box__header p {
    margin-bottom: 16px;
  }

  .shadow-box__header:last-child p {
    margin-bottom: 0;
  }
  

  .shadow-box__content {
    padding-bottom: 24px;
  }
  
  .shadow-box__content:last-child {
    padding-bottom: 0;
  }

  .shadow-box__content p {
    margin-bottom: 16px
  }

  .shadow-box__content:last-child p {
    margin-bottom: 0;
  }
  
  .external-link-wrapper {
    position: relative;
  }

  .shadow-box__content p:last-child {
    margin-bottom: 0;
  }
  