<!-- module html  -->
{% set source_data = hubdb_table_rows(module.source_data) %}
{% set terminals = ['TERMINAL STACJONARNY ETH' , 'TERMINAL STACJONARNY GPRS' , 'TERMINAL STACJONARNY Z PINPADEM ETH' ,
'TERMINAL STACJONARNY Z PINPADEM GPRS' , 'TERMINAL PRZENOŚNY GPRS' , 'TERMINAL PRZENOŚNY WIFI' , 'LANE3000' , 'PAX'] %}
{% set packages = ['PWOB STANDARD' , 'PWOB MAX' , 'STANDARD' , 'MAX'] %}
{% set profiles = ['Branża spożywcza' , 'Rozrywka/transport' , 'Dom i Samochód' , 'Odzież/Zdrowie' ,
'Hotel/Wypożyczalnia samochodów' , 'Pozostałe sklepy i usługi'] %}
{% set commissions = ['PROWIZJA (%)', 'PROWIZJA (% + GROSZ)'] %}
{% set raw_assets_folder = 'https://f.hubspotusercontent00.net/hubfs/8443659/sprzedawcy-kas/' %}

<div id="skCalculator" class="sk-calculator">
    <div class="sk-calculator__choices-wrapper">
        <div class="sk-calculator__item-wrapper">
            <div class="sk-calculator__label">
                Profil klienta
            </div>
            <select id="skCalculatorProfile" name="profile">
                <option value="0">Wybierz profil:</option>
                {% for profile in profiles %}
                <option value="{{loop.index}}">{{profile}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="sk-calculator__item-wrapper">
            <div class="sk-calculator__label">
                Pakiet
            </div>
            <select id="skCalculatorPackage" name="package">
                <option value="0">Wybierz pakiet:</option>
                {% for package in packages %}
                <option value="{{loop.index}}">{{package}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="sk-calculator__item-wrapper">
            <div class="sk-calculator__label">
                Rodzaj terminala
            </div>
            <select id="skCalculatorTerminal" name="terminal">
                <option value="0">Wybierz terminal:</option>
                {% for terminal in terminals %}
                <option value="{{loop.index}}">{{terminal}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="sk-calculator__item-wrapper">
            <div class="sk-calculator__label">
                Wariant prowizji
            </div>
            <select id="skCalculatorCommission" name="commission">
                <option value="0">Wybierz prowizję:</option>
                {% for commission in commissions %}
                <option value="{{loop.index}}">{{commission}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="errors">

        </div>
        <div class="sk-calculator__show-offer">
            <button id="showOffer" class="button button--primary disabled">Pokaż ofertę</button>
        </div>
        <div id="newYearText">
            <p>Zasady programu Polska Bezgotówkowa uległy zmianom od 1 stycznia 2023 roku. Jesteśmy w trakcie wprowadzania zmian na tej stronie uwzględniających nowe regulacje. W celu zawarcia umowy z dofinansowaniem w ramach programu Polska Bezgotówkowa prosimy o kontakt z Helpdesk Sił Sprzedaży: </p>
            <a href="mailto:helpdesk-sprzedaz@eservice.com.pl
           ">helpdesk-sprzedaz@eservice.com.pl</a>
           <div>
           <a href="tel:48225332256" > +48 22 533 22 56</a>
           </div>
           </div>
    </div>
    <div class="sk-calculator__results-wrapper hidden">
        <div class="sk-calculator__results__desktop">
            <div class="isobar-table__wrapper" style="justify-content: stretch">
                <table class="isobar-table span12 stretched">
                    <tr>
                        <th class="table-title" colspan="6">Oferta dla klienta</th>

                    </tr>
                    <tr>
                        <th class="table-title" colspan="3" rowspan="2">Najem zestawu pos</th>
                        <th class="table-title" colspan="3">
                            Prowizja (VISA / Mastercard)
                        </th>
                    </tr>
                    <tr>
                        <th class="table-title">
                            VISA Polska
                        </th>
                        <th class="table-title">
                            MasterCard Polska
                        </th>
                        <th class="table-title">
                            Opłata groszowa
                        </th>
                    </tr>
                    <tr class="positiveResponse">
                        <td id="packageNumberPositive" colspan="3"></td>
                        <td id="visaCommissionPositive"></td>
                        <td id="masterCardCommissionPositive"></td>
                        <td id="pennyCommissionPositive"></td>
                        <th class="table-title">Pozytywna odpowiedź fundacji</th>
                    </tr>
                    <tr>
                        <td id="packageNumberNegative" colspan="3"></td>
                        <td id="visaCommissionNegative"></td>
                        <td id="masterCardCommissionNegative"></td>
                        <td id="pennyCommissionNegative"></td>
                        <th class="table-title negativeResponse">Negatywna odpowiedź fundacji</th>
                    </tr>
                </table>
            </div>
            <div class="isobar-table__wrapper" style="justify-content: stretch">
                <table class="isobar-table span12 stretched">
                    <tr class="positiveResponse">
                        <th class="table-title" colspan="2">Prognozowane wynagrodzenie jednostkowe za podpisaną umowę
                        </th>
                        <td id="earningForDealPositive"></td>
                        <th class="table-title" colspan="2">Prognozowane wynagrodzenie jednostkowe za lead</th>
                        <td id="earningForLeadPositive"></td>
                        <th class="table-title">Pozytywna odpowiedź fundacji</th>
                    </tr>
                    <tr class="pax-hide">
                        <th class="table-title" colspan="2">Prognozowane wynagrodzenie jednostkowe za podpisaną umowę
                        </th>
                        <td id="earningForDealNegative"></td>
                        <th class="table-title" colspan="2">Prognozowane wynagrodzenie jednostkowe za lead</th>
                        <td id="earningForLeadNegative"></td>
                        <th class="table-title negativeResponse">Negatywna odpowiedź fundacji</th>
                    </tr>
                </table>
            </div>
        </div>
        <div class="sk-calculator__results__mobile">
            <div class="sk-calculator__results__mobile-item">
                <h2 class="sk-calculator__results__mobile-item__title">Oferta dla klienta</h2>
            </div>
            <div class="positiveResponse">
                <h3 class="sk-calculator__results__mobile-item__title sk-calculator__results__mobile-item__title--blue">
                    Pozytywna odpowiedź fundacji</h3>
                <div class="sk-calculator__results__mobile-item">
                    <p class="sk-calculator__results__mobile-item__label">Najem zestawu pos</p>
                    <p class="sk-calculator__results__mobile-item__content" id="packageNumberPositiveMobile"></p>
                </div>
                <h3 class="sk-calculator__results__mobile-item__title">Prowizja</h3>
                <div class="sk-calculator__results__mobile-item">
                    <p class="sk-calculator__results__mobile-item__label">VISA Polska</p>
                    <p class="sk-calculator__results__mobile-item__content" id="visaCommissionPositiveMobile"></p>
                </div>
                <div class="sk-calculator__results__mobile-item">
                    <p class="sk-calculator__results__mobile-item__label">MasterCard Polska</p>
                    <p class="sk-calculator__results__mobile-item__content" id="masterCardCommissionPositiveMobile"></p>
                </div>
                <div class="sk-calculator__results__mobile-item">
                    <p class="sk-calculator__results__mobile-item__label">Opłata groszowa</p>
                    <p class="sk-calculator__results__mobile-item__content" id="pennyCommissionPositiveMobile"></p>
                </div>
                <h3 class="sk-calculator__results__mobile-item__title">Prognozowane wynagrodzenie jednostkowe </h3>
                <div class="sk-calculator__results__mobile-item">
                    <p class="sk-calculator__results__mobile-item__label">Za podpisaną umowę</p>
                    <p class="sk-calculator__results__mobile-item__content" id="earningForDealPositiveMobile"></p>
                </div>
                <div class="sk-calculator__results__mobile-item">
                    <p class="sk-calculator__results__mobile-item__label">Za lead</p>
                    <p class="sk-calculator__results__mobile-item__content" id="earningForLeadPositiveMobile"></p>
                </div>
            </div>
            <h3
                class="sk-calculator__results__mobile-item__title sk-calculator__results__mobile-item__title--blue negativeResponse">
                Negatywna odpowiedź fundacji</h3>
            <div class="sk-calculator__results__mobile-item">
                <p class="sk-calculator__results__mobile-item__label">Najem zestawu pos</p>
                <p class="sk-calculator__results__mobile-item__content" id="packageNumberNegativeMobile"></p>
            </div>
            <h3 class="sk-calculator__results__mobile-item__title">Prowizja</h3>
            <div class="sk-calculator__results__mobile-item">
                <p class="sk-calculator__results__mobile-item__label">VISA Polska</p>
                <p class="sk-calculator__results__mobile-item__content" id="visaCommissionNegativeMobile"></p>
            </div>
            <div class="sk-calculator__results__mobile-item">
                <p class="sk-calculator__results__mobile-item__label">MasterCard Polska</p>
                <p class="sk-calculator__results__mobile-item__content" id="masterCardCommissionNegativeMobile"></p>
            </div>
            <div class="sk-calculator__results__mobile-item">
                <p class="sk-calculator__results__mobile-item__label">Opłata groszowa</p>
                <p class="sk-calculator__results__mobile-item__content" id="pennyCommissionNegativeMobile"></p>
            </div>
            <div class="pax-hide">
                <h3 class="sk-calculator__results__mobile-item__title">Prognozowane wynagrodzenie jednostkowe </h3>
                <div class="sk-calculator__results__mobile-item">
                    <p class="sk-calculator__results__mobile-item__label">Za podpisaną umowę</p>
                    <p class="sk-calculator__results__mobile-item__content" id="earningForDealNegativeMobile"></p>
                </div>
                <div class="sk-calculator__results__mobile-item">
                    <p class="sk-calculator__results__mobile-item__label">Za lead</p>
                    <p class="sk-calculator__results__mobile-item__content" id="earningForLeadNegativeMobile"></p>
                </div>
            </div>
        </div>
        <div class="external-link-box-wrapper-module__row columns4 files-list ">
            <div id="documentFillInstructions"
                class="external-link-box-wrapper-module__external-link-box-columnwrap span3 pax-hide">
                <div class="external-link-box__wrapper 
                external-link-box--image-spacing 
                click-propagator
                ">
                    <div class="external-link-box__image">
                        <img src="{{ get_asset_url('/isobar-eservice-theme/images/sk-calculator/pdf-icon.png') }}"
                            alt="Plik pdf">
                    </div>
                    <div class="external-link-box__header">
                        <p>
                            <strong>Instrukcja wypełniania dokumentów</strong>
                        </p>
                    </div>
                    <div class="external-link-box__link-button-wrapper">
                        <a href="{{raw_assets_folder}}Instrukcja%20wypelniania%20dokumentu.pdf"
                            class="button button--primary external-link-box__button" target="_blank"
                            tabindex="0">Pobierz</a>
                    </div>
                </div>
                
            </div>
            
            {% for item in profiles %}
            {% set item_name = item %}
            {% set item_name = item_name|replace('ó', 'o') %}
            {% set item_name = item_name|replace('ż', 'z') %}
            {% set item_name = item_name|replace('/', '') %}
            {% set item_name = item_name|replace('ł', 'l') %}
            {% set item_name = item_name|replace(' ', '') %}
            <div id="{{item_name}}StandardSimple"
                class="external-link-box-wrapper-module__external-link-box-columnwrap span3 hideable hidden">
                <div class="external-link-box__wrapper 
                    external-link-box--image-spacing 
                    click-propagator
                    ">
                    <div class="external-link-box__image">
                        <img src="{{ get_asset_url('/isobar-eservice-theme/images/sk-calculator/pdf-icon.png') }}"
                            alt="Plik pdf">
                    </div>
                    <div class="external-link-box__header">
                        <p>
                            <strong>Oferta {{item}} Standard - Prowizja samodzielna</strong>
                        </p>
                    </div>
                    <div class="external-link-box__link-button-wrapper">

                        {% set asset_link = 'OFERTA_' ~ item|replace('/','') ~ '_STANDARD_prowizja samodzielna.pdf' %}
                        {% set asset_link = asset_link|replace('ó', 'o') %}
                        {% set asset_link = asset_link|replace('ż', 'z') %}
                        {% set asset_link = asset_link|replace('ł', 'l') %}

                        <a href="{{raw_assets_folder}}{{asset_link}}"
                            class="button button--primary external-link-box__button" target="_blank"
                            tabindex="0">Pobierz</a>
                    </div>
                </div>
            </div>
            <div id="{{item_name}}StandardComplex"
                class="external-link-box-wrapper-module__external-link-box-columnwrap span3 hideable hidden">
                <div class="external-link-box__wrapper 
                    external-link-box--image-spacing 
                    click-propagator
                    ">
                    <div class="external-link-box__image">
                        <img src="{{ get_asset_url('/isobar-eservice-theme/images/sk-calculator/pdf-icon.png') }}"
                            alt="Plik pdf">
                    </div>
                    <div class="external-link-box__header">
                        <p>
                            <strong>Oferta {{item}} Standard - Prowizja złożona</strong>
                        </p>
                    </div>
                    <div class="external-link-box__link-button-wrapper">

                        {% set asset_link = 'OFERTA_' ~ item|replace('/','') ~ '_STANDARD_prowizja złożona.pdf' %}
                        {% set asset_link = asset_link|replace('ó', 'o') %}
                        {% set asset_link = asset_link|replace('ż', 'z') %}
                        {% set asset_link = asset_link|replace('ł', 'l') %}

                        <a href="{{raw_assets_folder}}{{asset_link}}"
                            class="button button--primary external-link-box__button" target="_blank"
                            tabindex="0">Pobierz</a>
                    </div>
                </div>
            </div>
            <div id="{{item_name}}MaxSimple"
                class="external-link-box-wrapper-module__external-link-box-columnwrap span3 hideable hidden">
                <div class="external-link-box__wrapper 
                    external-link-box--image-spacing 
                    click-propagator
                    ">
                    <div class="external-link-box__image">
                        <img src="{{ get_asset_url('/isobar-eservice-theme/images/sk-calculator/pdf-icon.png') }}"
                            alt="Plik pdf">
                    </div>
                    <div class="external-link-box__header">
                        <p>
                            <strong>Oferta {{item}} MAX - Prowizja samodzielna</strong>
                        </p>
                    </div>
                    <div class="external-link-box__link-button-wrapper">

                        {% set asset_link = 'OFERTA_' ~ item|replace('/','') ~ '_MAX_prowizja samodzielna.pdf' %}
                        {% set asset_link = asset_link|replace('ó', 'o') %}
                        {% set asset_link = asset_link|replace('ż', 'z') %}
                        {% set asset_link = asset_link|replace('ł', 'l') %}

                        <a href="{{raw_assets_folder}}{{asset_link}}"
                            class="button button--primary external-link-box__button" target="_blank"
                            tabindex="0">Pobierz</a>
                    </div>
                </div>
            </div>
            <div id="{{item_name}}MaxComplex"
                class="external-link-box-wrapper-module__external-link-box-columnwrap span3 hideable hidden">
                <div class="external-link-box__wrapper 
                    external-link-box--image-spacing 
                    click-propagator
                    ">
                    <div class="external-link-box__image">
                        <img src="{{ get_asset_url('/isobar-eservice-theme/images/sk-calculator/pdf-icon.png') }}"
                            alt="Plik pdf">
                    </div>
                    <div class="external-link-box__header">
                        <p>
                            <strong>Oferta {{item}} MAX - Prowizja złożona</strong>
                        </p>
                    </div>
                    <div class="external-link-box__link-button-wrapper">

                        {% set asset_link = 'OFERTA_' ~ item|replace('/','') ~ '_MAX_prowizja złożona.pdf' %}
                        {% set asset_link = asset_link|replace('ó', 'o') %}
                        {% set asset_link = asset_link|replace('ż', 'z') %}
                        {% set asset_link = asset_link|replace('ł', 'l') %}

                        <a href="{{raw_assets_folder}}{{asset_link}}"
                            class="button button--primary external-link-box__button" target="_blank"
                            tabindex="0">Pobierz</a>
                    </div>
                </div>
            </div>
            <div id="paxLead"
                class="external-link-box-wrapper-module__external-link-box-columnwrap span3 hideable hidden">
                <div class="external-link-box__wrapper 
                    external-link-box--image-spacing 
                    click-propagator
                    ">
                    <div class="external-link-box__header">
                        <p>
                            <strong>Wypełnij formularz poniżej aby przesłać lead</strong>
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
           
            {% if module.legal_text%}
            <div class="sk-calculator__legal-text__wrapper">
               
                {{module.legal_text}}
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% require_js position="footer" %}
<script>
    (function () {
        const cur = '{{module.currency}}';
        let naj = new Array(), w1 = new Array(), w2 = new Array(), w3 = new Array(), end = new Array(), profiles = new Array();
        {% for row in source_data %}
        {% if row.naj %}
        naj.push({{ row.naj }})
    {% endif %}
    {% if row.w1 %}
    w1.push({{ row.w1 }})
    {% endif %}
    {% if row.w2 %}
    w2.push({{ row.w2 }})
    {% endif %}
    {% if row.w3 %}
    w3.push({{ row.w3 }})
    {% endif %}
    {% if row.end %}
    end.push({{ row.end }})
    {% endif %}
    {% endfor %}
    {% for profile in profiles %}
    profiles.push("{{profile}}");
    {% endfor %}
    window['skCalculator'] = {
        "naj": naj,
        "w1": w1,
        "w2": w2,
        "w3": w3,
        "end": end,
        "profiles": profiles,
        "currency": "{{module.currency}}",
    }
    }) ();
</script>
{% end_require_js %}