.awards__main {
    display: flex;
    flex-flow: row wrap;
    margin: 0 -0.5rem;
    align-items: stretch;
}
.awards__main > * {
    flex-basis: calc(100% - 1rem);
    margin: 0.5rem;
}
@media screen and (min-width: 769px) {
    .awards__main > * {
        flex-basis: calc(50% - 1rem);
    }
}
@media screen and (min-width: 1025px) {
    .awards__main > * {
        flex-basis: calc(33% - 1rem);
    }
}
