.form-selector__wrapper-module__row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    padding: 24px 0 32px;
}

.form-selector__button {
    display: inline-block;
    text-align: center;
    background-color: #fff;
    padding: 60px 0;
    height: 100%;
    width: 100%;
    border-radius: 16px;
    border: 0;
    box-shadow: 0 8px 32px rgba(1, 64, 190 , 0.08);
    margin-bottom: 8px;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
  }

  .form-selector__button.selected {
    transform: scale(1.03);
    border: 1px solid  rgba(1, 64, 190 , 0.1);
    box-shadow: 0 8px 32px rgba(1, 64, 190 , 0.24);
  }

  .form-selector__button h2 {
    margin: 0 auto;
  }
  
  .form-selector__image {
    padding-bottom: 24px;
  }
  
  .form-selector__image img {
    height: 88px;
    width: auto;
  }
  
  .form-selector__image header {
    padding-bottom: 16px;
  }
  
  .form-selector__header p {
    margin-bottom: 16px;
  }
  
  .form-selector__content {
    padding-bottom: 24px
  }
  
  .form-selector__content p {
    margin-bottom: 16px
  }
  
  .form-selector__content p:last-child {
    margin-bottom: 0;
  }
