<!-- module html  -->
<style>
    .contact-switcher__item.arrowed:first-child:after {
        background-image: url('{{module.top_boxes.box_1_arrow_image.src}}');
    }

    .contact-switcher__item.arrowed:last-child:after {
        background-image: url('{{module.top_boxes.box_2_arrow_image.src}}');
    }
</style>

<div class="contact-page">
    <div class="contact-switcher">
        <div class="contact-switcher__item arrowed">
            <div class="c-switch" id="cooperation">
                <h3 class="c-switch__title">{{ module.top_boxes.box_1_text }}
                    <img class="c-switch__title__image" src="{{module.top_boxes.box_1_image.src}}"
                        alt="{{module.top_boxes.box_1_image.alt}}">
                </h3>
            </div>
        </div>
        <div class="contact-switcher__item arrowed">
            <div class="c-switch" id="client">
                <h3 class="c-switch__title">{{ module.top_boxes.box_2_text }}
                    <img class="c-switch__title__image" src="{{module.top_boxes.box_2_image.src}}"
                        alt="{{module.top_boxes.box_2_image.alt}}">
                </h3>
            </div>
        </div>
    </div>
    <div class="contact-switcher__content">
        <label class="contact-switcher__label" for="contact-select">{{module.select_subject_text}}</label>
        <select class="contact-switcher__select" id="contact-select">
            <option value="">{{module.select_subject_dropdown_text}}</option>
            {% for item in module.subjects %}
            <option value="{{ item.form_field.form_id }}">{{ item.subject }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="contact-tabs">
        <div class="contact-tab" data-id="cooperation">
            <div class="contact-static">
                {% for item in module.cooperation.static_cooperation.static_boxes %}
                <div class="contact-static-box">
                    <figure class="contact-static-box__image">
                        {% if item.static_box_image.src %}
                        <img src="{{ item.static_box_image.src }}" alt="{{ item.static_box_image.alt }}"
                            class="contact-static-box__image-el">
                        {% endif %}
                    </figure>
                    <div class="contact-static-box__content">{% rich_text field="static_box_content" value="{{
                        item.static_box_content }}" %}
                    </div>
                </div>
                {% endfor %}
            </div>

            <div data-custom-form="{{ module.cooperation.cooperation_form.form_id }}"></div>
            {% require_js position="footer" %}
            <script>
                (function ($, CustomValidators, CustomValidation) {
                    const formId = '{{ module.cooperation.cooperation_form.form_id }}';
                    hbspt.forms.create({
                        portalId: '{{ hub_id }}',
                        formId: formId,
                        target: `[data-custom-form="${formId}"]`,
                        onFormReady: function () {
                            const options = {
                                formId: formId,
                                fields: [
                                    {% for item in widget_data.global_form_options.validations %}
                            {
                                name: '{{ item.form_field_key }}',
                                    methods: [
                                        {
                                            message: '{{ item.validation_message }}',
                                            method: CustomValidators.{{ item.type_of_validation }},
                        },
                                        ],
                    },
                        {% endfor %}
                                ],
                            };
                const customValidation = new CustomValidation(options);
                        },
                    });
                }) (jQuery, CustomValidators, CustomValidation);
            </script>
            {% end_require_js %}
        </div>
        <div class="contact-tab" data-id="client">
            <div class="contact-box__wrapper" style="background-image: url({{ module.client_background_image.src }});">
                <div class="contact-box__wrapper_content">
                    <div class="contact-box__header">
                        {{ module.client_text_field }}
                    </div>
                    <div class="contact-box__cta row-fluid">
                        {% if module.client_phone_image.src %}
                        <div class="shadow-box__wrapper span6">
                            <div class="client-line">
                                <div class="shadow-box__image">
                                    <img src="{{ module.client_phone_image.src }}"
                                        alt="{{module.client_phone_image.alt}}" />
                                </div>
                                <div class="shadow-box__content">
                                    {{module.client_phone_text}}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        <div class="shadow-box__wrapper span6">
                            <div class="client-line">
                                <div class="shadow-box__image">
                                    <img src="{{ module.client_mail_image.src }}"
                                        alt="{{module.client_mail_image.alt}}" />
                                </div>
                                <div class="shadow-box__content">
                                    {{module.client_mail_text}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- {% for item in module.subjects %}
        <div class="contact-tab" data-id="{{ item.form_field.form_id }}">
            {% if item.accordions %}
            <div class="contact-accordion accordion-module__wrapper">
                {% for accordion in item.accordions %}
                <div class="accordion-module__item" >
                    <button class="accordion-module__label">
                        <h3>{{ accordion.question }}</h3>
                        <svg class="accordion-module__label__icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><defs><style>.a{fill:#fff;}.a,.b{stroke:#111;}.b,.d{fill:none;}.b{stroke-linecap:round;}.c{stroke:none;}</style></defs><g transform="translate(-1448 -13885)"><g class="a" transform="translate(1448 13885)"><circle class="c" cx="12" cy="12" r="12"/><circle class="d" cx="12" cy="12" r="11.5"/></g><path class="b" d="M-20400-10385.153v8" transform="translate(21860 24278.15)"/><path class="b" d="M0,0V8" transform="translate(1464.002 13897) rotate(90)"/></g></svg>
                    </button>
                    <div class="accordion-module__content">
                        {% rich_text field="test" value="{{ accordion.answer }}" %}
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}

            <div class="contact-static">
                {% if item.accordions %}
                <p class="contact-static__title">{{ module.static.static_data_title }}</p>
                {% endif %}
                {% for item in module.static.static_boxes %}
                <div class="contact-static-box">
                    <figure class="contact-static-box__image">
                        {% if item.static_box_image.src %}
                        <img src="{{ item.static_box_image.src }}" alt="{{ item.static_box_image.alt }}"
                             class="contact-static-box__image-el">
                        {% endif %}
                    </figure>
                    <div class="contact-static-box__content">
                        {% rich_text field="static_box_content" value="{{ item.static_box_content }}" %}
                    </div>
                </div>
                {% endfor %}
            </div>

            <div data-custom-form="{{ item.form_field.form_id }}"></div>
            {% require_js position="footer" %}
            <script>
                (function ($, CustomValidators, CustomValidation) {
                    const formId = '{{ item.form_field.form_id }}';
                    hbspt.forms.create({
                        portalId: '{{ hub_id }}',
                        formId: formId,
                        target: `[data-custom-form="${formId}"]`,
                        onFormReady: function () {
                            const options = {
                                formId: formId,
                                fields: [
                                    {% for item in widget_data.global_form_options.validations %}
                                    {
                                        name: '{{ item.form_field_key }}',
                                        methods: [
                                        {
                                            message: '{{ item.validation_message }}',
                                            method: CustomValidators.{{ item.type_of_validation }},
                                        },
                                        ],
                                    },
                                    {% endfor %}
                                ],
                            };
                            const customValidation = new CustomValidation(options);
                        },
                    });
                })(jQuery, CustomValidators, CustomValidation);
            </script>
            {% end_require_js %}
        </div>
        {% endfor %} -->
    </div>
</div>