{% macro renderLink(node)  %}
<li>
    <a href="{{node.url}}">{{node.label|truncatehtml(30)}}</a>
</li>
{% endmacro %}

{% macro renderElement(node)  %}
{% if node.parentNode %}
    {{ renderElement(node.parentNode) }}
    {{ renderLink(node) }}
{% else %}
    {{ renderLink(node) }}
{% endif %}
{% endmacro %}

{% for menu_id in module.menu_field %}
{% set isExist = menu(menu_id, root_type='breadcrumb') %}
{% if isExist %}
    {% set default_node = menu(menu_id, root_type='breadcrumb')%}
    <div class="breadcrumbs">
        <ul>
            {% if default_node.level == 1 %}
            <li>
                <a href="/">{{ module.homepage_title }}</a>
            </li>
            <li>
                <a href="{{default_node.url}}">{{default_node.label|truncatehtml(30)}}</a>
            </li>
            {% endif %}
            {% if default_node.level > 1 %}
            {{ renderElement(default_node) }}
            {% endif %}
        </ul>
    </div>
{% endif %}
{% endfor %}

