.content-wrapper {
  margin: 0 auto;
  max-width: 1232px;
  padding: 0 20px;
}

@media screen and (min-width: 1380px) {
  .content-wrapper {
    padding: 0;
  }
}

.dnd-section,
.content-wrapper--vertical-spacing {
  padding: 80px 20px;
}

.dnd-section > .row-fluid {
  margin: 0 auto;
  max-width: 1200px;
}

.dnd-section .dnd-column {
  padding: 0 0;
}

.body-container .dnd-section.row-number-1 {
  padding-top: 50px !important;
}
