/* Responsive Grid */

#main-content {
    overflow: hidden;
}

.row-fluid {
    width: 100%;
    *zoom: 1;
}

.row-fluid:before, .row-fluid:after {
    display: table;
    content: "";
}

.row-fluid:after {
    clear: both;
}

.row-fluid [class*="span"] {
    display: block;
    float: left;
    width: 100%;
    min-height: 28px;
    margin-left: {{theme.grid.gutter}}px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.row-fluid [class*="span"]:first-child {
    margin-left: 0;
}

.row-fluid .span{{loop.index}} {
    width: calc((100%/12)*12);
}

{% for x in range(0,11) %}
    /* .row-fluid .span{{loop.index}} {
        width: calc((99%/12)*{{loop.index}} - ({{theme.grid.gutter}}px/2));
    } */

    .row-fluid .span{{loop.index}} {
        width: calc(((99% - {{((12//loop.index) - 1) * theme.grid.gutter}}px)/12)*{{loop.index}} - 2px);
    }
{% endfor %}

/* CUSTOM STRETCHED CONTENT SOLUTION */
@media screen and (min-width: {{theme.grid.desktop_min}}px) {
    .dnd-section:not([class$='vertical-alignment']) > .row-fluid {
        display:flex;
        flex-direction: row;
        align-items: stretch;
    }

    .dnd-section:not([class$='vertical-alignment']) > .row-fluid > div{
        flex-grow: 1;
        flex-shrink: 0;
    }

    /* .dnd-section:not([class$='vertical-alignment']) > .row-fluid > div:not(:only-child) > .dnd-row,
    .dnd-section:not([class$='vertical-alignment']) > .row-fluid > div:not(:only-child) > .dnd-row > .row-fluid,
    .dnd-section:not([class$='vertical-alignment']) > .row-fluid > div:not(:only-child) > .dnd-row > .row-fluid > .dnd-module,
    .dnd-section:not([class$='vertical-alignment']) > .row-fluid > div:not(:only-child) > .dnd-row > .row-fluid > .dnd-module > div,
    .dnd-section:not([class$='vertical-alignment']) > .row-fluid > .dnd-column:not(:only-child) > .hs_cos_wrapper,
    .dnd-section:not([class$='vertical-alignment']) > .row-fluid > div:not(:only-child) > .dnd-row > .row-fluid > .dnd-column,
    .dnd-section:not([class$='vertical-alignment']) > .row-fluid > div:not(:only-child) > .dnd-row > .row-fluid > .dnd-column > .dnd-row,
    .dnd-section:not([class$='vertical-alignment']) > .row-fluid > div:not(:only-child) > .dnd-row > .row-fluid > .dnd-column > .dnd-row > .row-fluid
    .dnd-section:not([class$='vertical-alignment']) > .row-fluid > div:not(:only-child) > .dnd-row > .row-fluid > .dnd-column > .dnd-row > .row-fluid > .dnd-module,
    .dnd-section:not([class$='vertical-alignment']) > .row-fluid > div:not(:only-child) > .dnd-row > .row-fluid > .dnd-column > .dnd-row > .row-fluid > .dnd-column {
        height: 100%;
    } */
}

@media (max-width: {{theme.grid.desktop_min - 1}}px) {
    .row-fluid {
        width: 100%;
        flex-wrap: wrap;
    }

    .row-fluid [class*="span"] {
        display: block;
        width: 100%;
        float: none;
        margin-left: 0;
    }
}

/* Clearfix */

.clearfix {
    *zoom: 1;
}

.clearfix:before, .clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both;
}

/* Visibilty Classes */

.hide {
    display: none;
}

.show {
    display: block;
}

.invisible {
    visibility: hidden;
}

.hidden {
    display: none;
    visibility: hidden;
}

/* Responsive Visibilty Classes */

.visible-phone {
    display: none !important;
}

.visible-tablet {
    display: none !important;
}

.hidden-desktop {
    display: none !important;
}

@media (max-width: {{theme.grid.desktop_min - 1}}px) {
    .visible-phone {
        display: inherit !important;
    }

    .hidden-phone {
        display: none !important;
    }

    .hidden-desktop {
        display: inherit !important;
    }

    .visible-desktop {
        display: none !important;
    }
}

@media (min-width: {{theme.grid.desktop_min}}px) and (max-width: 1139px) {
    .visible-tablet {
        display: inherit !important;
    }

    .hidden-tablet {
        display: none !important;
    }

    .hidden-desktop {
        display: inherit !important;
    }

    .visible-desktop {
        display: none !important ;
    }
}
.background-coca-cola {
    background: url('https://f.hubspotusercontent10.net/hubfs/7608510/Bez%20nazwy-1.png') no-repeat;
}
@media screen and (max-width: 624px) {
    .background-coca-cola {
        background: url('https://f.hubspotusercontent10.net/hubfs/7608510/bg-mobile-2.png') no-repeat;
    }
}
.background-coca-cola-login, .background-coca-cola {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    animation: scale 40s linear infinite;

}
.background-coca-cola-login {
    background: url('https://f.hubspotusercontent10.net/hubfs/7608510/bg-login.png') no-repeat;
}

@keyframes scale {
    50% {
      background-position:90%;
    }
  }
  .coca-cola-section {
      overflow-x: hidden;

  }
  .coca-cola-section::-webkit-scrollbar {
    width: 6px;
}

.coca-cola-section::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.66);
    border-radius: 3px;
}

.coca-cola-section::-webkit-scrollbar-thumb {
    background: #333333;
    border-radius: 3px;
}
  .coca-cola-section .dnd-column .row-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
  .coca-cola-section .dnd-column .row-fluid .widget-span {
      justify-content: center;
  }
  .coca-cola-section h2 {
      color: white;
  }
  .coca-cola-section .container-fluid {
    padding-top: 10%;
}
    @media (max-width: {{theme.grid.desktop_min - 1}}px) {
        .coca-cola-section .container-fluid {
            padding-top: 10px
        }

        .background-coca-cola img {
            height: 100vh;
    width: 100vw;
        }
    }
.coca-cola-login .widget-type-form {
        border-radius: 16px;
        background-color: #FFFFFF;
        padding: 30px 60px;
        box-shadow: none;
        outline: none;

}
.coca-cola-login .widget-type-form .actions {
    text-align: center;
}
.coca-cola-login .widget-type-form .hs-button {
    border: none;
    background-color: #F40000;
}
.coca-cola-login .container-fluid {
    padding-top: 20%;
}

.merchant-pko-page .body-container .dnd-section.row-number-1 {
    padding-top: 0 !important;
}
