<div class="footer__main-content content-wrapper">
    <div class="row-fluid">
        <div class="dnd-column span3 footer__main-column">
            <ul>
                <li>
                    <a href="/">
                        <img class="footer__eservice-logo" src="{{get_asset_url('/isobar-eservice-theme/images/logos/eservice.png')}}"
                        alt="eservice">
                    </a>
                </li>
                <li>
                    <span class="footer__column-1__text footer__column-1__text--row-1"> {{ module.column_1.column_1_text }}</span> <br/>
                    <span class="footer__column-1__text footer__column-1__text--row-2"> {{ module.column_1.column_1_text_2 }}</span><span class="footer__evq-logo">
                        <a href="https://evopayments.com/" target="_blank">
                            <img src="{{get_asset_url('/isobar-eservice-theme/images/logos/evox3.png')}}" alt="evq logo" />
                        </a>
                        </span>
                </li>
                {% if module.column_1.column_1_richtext %}<li>
                    <span  class="footer__column-1__richtext">
                        {{module.column_1.column_1_richtext}}
                    </span>
                </li>{% endif %}
            </ul>
        </div>
        <div class="dnd-column span3 footer__main-column">
            <ul>
                <li class="footer__main-column__title">{{ module.column_2.menu_column_title }}</li>
                {% for item in module.column_2.menu_link %}
                <li>
                    {% set href = item.menu_column_link.url.href %}
                    {% if item.menu_column_link.url.type is equalto "EMAIL_ADDRESS" %}
                    {% set href = "mailto:" + href %}
                    {% endif %}
                    {% set rel = [] %}
                    {% if item.menu_column_link.no_follow %}
                    {% do rel.append("nofollow") %}
                    {% endif %}
                    {% if item.menu_column_link.open_in_new_tab %}
                    {% do rel.append("noopener") %}
                    {% endif %}
                    <a href="{{ href }}" {% if item.menu_column_link.open_in_new_tab %}target="_blank" {% endif %} {% if
                        rel %}rel="{{ rel|join(" ") }}" {% endif %}>
                        {% inline_text field="menu_column_link_text" value="{{ item.menu_column_link_text }}" %}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="dnd-column span2 footer__main-column">
            <ul>
                <li class="footer__main-column__title">{{ module.column_3.menu_2_column_title }}</li>
                {% for item in module.column_3.menu_link %}
                <li>
                    {% set href = item.menu_2_column_link.url.href %}
                    {% if item.menu_2_column_link.url.type is equalto "EMAIL_ADDRESS" %}
                    {% set href = "mailto:" + href %}
                    {% endif %}
                    {% set rel = [] %}
                    {% if item.menu_2_column_link.no_follow %}
                    {% do rel.append("nofollow") %}
                    {% endif %}
                    {% if item.menu_2_column_link.open_in_new_tab %}
                    {% do rel.append("noopener") %}
                    {% endif %}
                    <a href="{{ href }}" {% if item.menu_2_column_link.open_in_new_tab %}target="_blank" {% endif %} {%
                        if rel %}rel="{{ rel|join(" ") }}" {% endif %}>
                        {% inline_text field="menu_2_column_link_text" value="{{ item.menu_2_column_link_text }}" %}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="dnd-column span2 footer__main-column">
            <ul>
                <li class="footer__main-column__title">{{ module.column_4.column_4_title }}</li>
                <li><a class="button button--secondary" href="{{ module.column_4.column_4_button_link }}" target="_blank">{{
                        module.column_4.column_4_button_text }}</a></li>
            </ul>
        </div>
        <div class="dnd-column span2 footer__main-column">
            <ul>
                <li class="footer__main-column__title">{{ module.column_5.column_5_title }}</li>
                <li>{{ module.column_5.column_5_text }}</li>
            </ul>
        </div>
    </div>
</div>