<!--
  templateType: global_partial
  label: Page Footer
-->
<footer class="footer">
  <div class="footer__container">

    <div class="footer__row footer__row--one">

      {# Footer Navigation Column One #}
      <div class="footer__navigation">
        {% module 'footer_menu_header_one' path='@hubspot/header' header_tag='h4', overrideable=True, value='About', label='Menu Title Column 1' %}
        {% module_block module 'footer_menu_one' path='@hubspot/simple_menu' overrideable=True, orientation='vertical', label='Menu Column 1'  %}
          {% module_attribute 'menu_tree' is_json=True %}
            [{
              "linkLabel": "Menu Item One",
              "linkUrl": "#"
            },
            {
              "linkLabel": "Menu Item Two",
              "linkUrl": "#"
            },
            {
              "linkLabel": "Menu Item Three",
              "linkUrl": "#"
            }]
          {% end_module_attribute %}
        {% end_module_block %}
      </div>

      {# Footer Navigation Column Two #}
      <div class="footer__navigation">
        {% module 'footer_menu_header_two' path='@hubspot/header', header_tag='h4', overrideable=True, value='Services', label='Menu Title Column 2' %}
        {% module_block module 'footer_menu_two' path='@hubspot/simple_menu' overrideable=True, orientation='vertical', label='Menu Column 2'  %}
          {% module_attribute 'menu_tree' is_json=True %}
            [{
              "linkLabel": "Menu Item One",
              "linkUrl": "#"
            },
            {
              "linkLabel": "Menu Item Two",
              "linkUrl": "#"
            },
            {
              "linkLabel": "Menu Item Three",
              "linkUrl": "#"
            }]
          {% end_module_attribute %}
        {% end_module_block %}
      </div>

      {# Footer Navigation Column Three #}
      <div class="footer__navigation">
        {% module 'footer_menu_header_three' path='@hubspot/header', header_tag='h4', overrideable=True, value='News', label='Menu Title Column 3' %}
        {% module_block module 'footer_menu_three' path='@hubspot/simple_menu' overrideable=True, orientation='vertical', label='Menu Column 3'  %}
          {% module_attribute 'menu_tree' is_json=True %}
            [{
              "linkLabel": "Menu Item One",
              "linkUrl": "#"
            },
            {
              "linkLabel": "Menu Item Two",
              "linkUrl": "#"
            },
            {
              "linkLabel": "Menu Item Three",
              "linkUrl": "#"
            }]
          {% end_module_attribute %}
        {% end_module_block %}
   

    </div>

    <div class="footer__row footer__row--two">

      {# Social Follow #}
      <div class="footer__follow-me">
        {% module_block module 'footer__follow-me'
          path='../../modules/social-follow',
          override_default_style=true,
          social_links=[
            {
              'social_account': 'facebook-f',
              'accessibility': {
                'title': 'Follow us on Facebook'
              }
            },
            {
              'social_account': 'linkedin-in',
              'accessibility': {
                'title': 'Follow us on LinkedIn'
              }
            },
            {
              'social_account': 'twitter',
              'accessibility': {
                'title': 'Follow us on Twitter'
              }
            },
            {
              'social_account': 'instagram',
              'accessibility': {
                'title': 'Follow us on Instagram'
              }
            }
          ]
        %}
          {% module_attribute 'style' is_json=True %}
            {
              "color": {
                "color": "#ffffff",
                "opacity": 100
              },
              "bg_color": {
                "color": "#1e2b33",
                "opacity": 0
              },
              "hover": {
                "color": {
                  "color": "#1e2b33",
                  "opacity": 100
                },
                "bg_color": {
                  "color": "#ffffff",
                  "opacity": 100
                }
              }
            }
          {% end_module_attribute %}
        {% end_module_block %}
      </div>

    </div>

  </div>
</footer>