<div class="hero__wrapper {% if module.button_blue.url.href && module.button_white.url.href %} hero--with-buttons{% endif %}">
        <div style="height: {{module.module_height}}px;" class="hero__image {% if module.button_blue.url.href && module.button_white.url.href %} hero__image-high {% endif %}">
            <img src="{{ module.image_field.src }}" alt="{{module.image_field.alt}}"
            style=" {% if module.number_field %} top: {{module.number_field}}px {% endif %}
            "/>

            {% if module.show_additional_content %}
                <div class="hero__aditional-content">
                    <{{module.header_level}} class="class="hero__additional-content__tile">{{module.title}}</{{module.header_level}}>
                    <p class="hero__additional-content__subtitile">{{module.subtitle}}</p>
                    <a class="button {{module.additional_link_type}}" href="{% if module.additional_link_target.url.href %}{{module.additional_link_target.url.href}}{% else %}#{{module.additional_link_target_anchor}}{% endif %}" target="{% if module.additional_link_target.open_in_new_tab %} _blank {% endif %}">{{module.additional_link_text}}</a>
                </div>
                <div class="hero__image-mask">&nbsp;</div>
            {% endif %}
        </div>

        {% if module.button_blue.url.href && module.button_white.url.href %}
        <div class="hero__buttons-wrapper">
            {% if module.button_blue.url.href %}
                <a href="{{module.button_blue.url.href}}" class="hero__button-blue" >{{module.button_blue_text}}</a>
            {% endif %}
            {% if module.button_white.url.href %}
                <a href="{{module.button_white.url.href}}" class="hero__button-white" >{{module.button_white_text}}</a>
            {% endif %}
        </div>
        {% endif %}
    </div>
