{% set raw_assets_folder = 'https://f.hubspotusercontent00.net/hubfs/8443659/logo-statyczne/' %}
<div class="logos-grid js-logos-grid logos-grid-max-4" data-module="{{ name }}">
	<div class="logos-grid__item">
		<img src="{{raw_assets_folder}}bank-polski.webp" alt="logo" {{ loadingAttr }} {{ sizeAttrs }}
			class="logos-grid__image" />
	</div>
	<div class="logos-grid__item">
		<img src="{{raw_assets_folder}}posnet-logo.svg" alt="logo" {{ loadingAttr }} {{ sizeAttrs }}
			class="logos-grid__image" />
	</div>
	<div class="logos-grid__item">
		<img src="{{raw_assets_folder}}gopos.webp" alt="logo" {{ loadingAttr }} {{ sizeAttrs }}
			class="logos-grid__image" />
	</div>
	<div class="logos-grid__item">
		<img src="{{raw_assets_folder}}Kamsoft.webp" alt="logo" {{ loadingAttr }} {{ sizeAttrs }}
			class="logos-grid__image" />
	</div>
	{% for item in module.image_field %}
	{% if item.src %}
	{% set sizeAttrs = 'width="{{ item.width }}" height="{{ item.height }}"' %}
	{% if item.size_type == 'auto' %}
	{% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
	{% elif item.size_type == 'auto_custom_max' %}
	{% set sizeAttrs = 'width="100%" height="auto" style="max-width: {{ item.max_width }}px; max-height: {{
	item.max_height }}px"' %}
	{% endif %}
	{% set loadingAttr = item.loading != 'disabled' ? 'loading="{{ item.loading }}"' : '' %}
	<div class="logos-grid__item ">
		<img src="{{ item.src }}" alt="{{ item.alt }}" {{ loadingAttr }} {{ sizeAttrs }}
			class="logos-grid__image logos-grid__item-shuffle" />
	</div>
	{% endif %}
	{% endfor %}
</div>

<button type="button" class="logos-grid__more js-logos-grid-more button button--secondary" data-module="{{ name }}">{{
	module.show_more }}</button>