<div class="hero__wrapper ">
    <div class="hero__image hero__image-high">
        <img
                src="{{ module.image_field.src }}"
                alt="{{module.image_field.alt}}"
                style="{% if module.number_field %}object-position: 50% {{ 50 - module.number_field / 10 / 2 }}%{% endif %}"
        />

        {% if module.show_title %}
            <div class="hero__text-content">
                <h1>{{module.title}}</h1>
                {% if module.help_text %}
                    <p class="hero__help-text">{{module.help_text}}</p>
                {% endif %}
            </div>
            <div class="hero__image-mask">&nbsp;</div>
        {% endif %}
        
    </div>

    <div class="hero__selectors-wrapper row-fluid">
        <div class="hero__selectors-wrapper__row columns2 {% if !module.right_selector.image_field.src && !module.right_selector.content && !module.right_selector.info_button_link.url.href && !module.right_selector.action_button_link.url.href %}centered{% endif %}">
            <div class="shadow-box-wrapper-module__shadow-box-columnwrap span6">
                <div class="shadow-box__wrapper">
                    {% if  module.left_selector.image_field.src %}
                    <div class="shadow-box__image">
                        <img src="{{ module.left_selector.image_field.src }}" alt="{{module.left_selector.image_field.alt}}" />
                    </div>
                    {% endif %}
                    <div class="shadow-box__header">
                        <p><strong>
                            {{ module.left_selector.title_text }}
                        </strong></p>
                    </div>
                    <div class="shadow-box__content">
                        {{ module.left_selector.content }}
                    </div>
                    <div class="shadow-box__buttons-wrapper">
                        {% if module.left_selector.info_button_link.url.href || module.left_selector.info_button_anchor %}
                            <a 
                                href="{{module.left_selector.info_button_link.url.href}}{% if module.left_selector.info_button_anchor %}#{{module.left_selector.info_button_anchor}}{% endif %}" 
                            class="button info-button" target="{% if module.left_selector.info_button_link.open_in_new_tab %}_BLANK{% else %}_SELF{% endif %}">{{module.left_selector.info_button_text}}</a>
                        {% endif %}
                        <a 
                            href="{{module.left_selector.action_button_link.url.href}}{% if module.left_selector.action_button_anchor %}#{{module.left_selector.action_button_anchor}}{% endif %}" " 
                        class="button button--primary"  target="{% if module.left_selector.action_button_link.open_in_new_tab %}_BLANK{% else %}_SELF{% endif %}">{{module.left_selector.action_button_text}}</a>
                    </div>
                </div>
            </div>
            {% if module.right_selector.image_field.src || module.right_selector.content || module.right_selector.info_button_link.url.href || module.right_selector.action_button_link.url.href %}
            <div class="shadow-box-wrapper-module__shadow-box-columnwrap span6">
                <div class="shadow-box__wrapper">
                    {% if  module.right_selector.image_field.src %}
                    <div class="shadow-box__image">
                        <img src="{{ module.right_selector.image_field.src }}" alt="{{module.right_selector.image_field.alt}}" />
                    </div>
                    {% endif %}
                    <div class="shadow-box__header">
                        <p><strong>
                            {{ module.right_selector.title_text }}
                        </strong></p>
                    </div>
                    <div class="shadow-box__content">
                        {{ module.right_selector.content }}
                    </div>
                    <div class="shadow-box__buttons-wrapper">
                        {% if module.right_selector.info_button_link.url.href || module.right_selector.info_button_anchor %}
                        <a 
                            href="{{module.right_selector.info_button_link.url.href}}{% if module.right_selector.info_button_anchor %}#{{module.right_selector.info_button_anchor}}{% endif %}" 
                        class="button info-button" target="{% if module.right_selector.info_button_link.open_in_new_tab %}_BLANK{% else %}_SELF{% endif %}">{{module.right_selector.info_button_text}}</a>
                        {% endif %}
                        <a 
                            href="{{module.right_selector.action_button_link.url.href}}{% if module.right_selector.action_button_anchor %}#{{module.right_selector.action_button_anchor}}{% endif %}" " 
                        class="button button--primary"  target="{% if module.right_selector.action_button_link.open_in_new_tab %}_BLANK{% else %}_SELF{% endif %}">{{module.right_selector.action_button_text}}</a>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
