.hero__wrapper {
    position: relative;
    margin-bottom: 0;
    text-align: center;
  }
  
  .hero__image {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-bottom: -220px;
  }
  
  .hero__image-high {
    height: 610px;
  }
  
  .hero__text-content {
    position: absolute;
    top: 211px;
    left: 50%;
    z-index: 10;
    width: 100%;
    max-width: 1232px;
    padding-left:12px;
    transform:translate(-50%, -50%);
    color: white;
  }

  .hero__text-content h1 {
    text-align: left;
    color: inherit;
    max-width: 670px;
    line-height: 1.2;
  }


  .hero__help-text {
    padding-top: 24px;
    text-align: left;
    line-height: 1.2;
  }

  @media screen and (min-width: 1024px ) {
    .hero__text-content h1, .resize-step-one-styles .hero__text-content h1 , .resize-step-two-styles .hero__text-content h1 {
      font-size: 64px !important;
    }  
  }

  .hero__image img {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    object-fit: cover;
    object-position: center;
    border-radius: 1rem 1rem 0 0;
  }
  @media screen and (min-width: 1025px) {
    .hero__image img {
      border-radius: 2rem 2rem 0 0;
    }
  }
  
  .hero__image:after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 50px;
    bottom: 0;
    left: 0;
    background: #ffffff;
    border-radius: 1rem 1rem 0 0;
    z-index: 2;
  }
  @media screen and (min-width: 1025px) {
    .hero__image:after {
      border-radius: 2rem 2rem 0 0;
    }
  }
  
  .hero__selectors-wrapper {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: transparent;
    padding: 12px;
    border-radius: 16px;
    display: inline-block;
    width: 100%;
    z-index: 2;
    max-width: 1232px;
  }

  .hero__selectors-wrapper__row {
    display:flex;
  }

  .hero__selectors-wrapper__row.centered {
    justify-content: center;
  }
  
  @media screen and (max-width: 1023px ) {
    .hero__selectors-wrapper__row {
      flex-wrap: wrap;
    }
  }

  .hero__selectors-wrapper .shadow-box-wrapper-module__shadow-box-columnwrap {
    margin-bottom: 24px;
  }
  
  .hero__selectors-wrapper .shadow-box-wrapper-module__shadow-box-columnwrap--arrowed:last-child:after {
    content: null;
    display: none;
  }
  
  .hero__selectors-wrapper .shadow-box__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      text-align: center;
      background-color: #fff;
      padding: 40px 0;
      min-height: 390px;
      height: 100%;
      width: 100%;
      border-radius: 16px;
      box-shadow: 0 8px 32px rgba(1, 64, 190 , 0.08);
      margin-bottom: 8px;
    }
    
    .hero__selectors-wrapper .shadow-box__image {
      padding-bottom: 24px;
    }
    
    .hero__selectors-wrapper .shadow-box__image img {
      max-height: 88px;
      max-width: 100%;
      height: auto;
      width: auto;
    }
    
    .hero__selectors-wrapper .shadow-box__image header {
      padding-bottom: 16px;
    }
    
    .hero__selectors-wrapper .shadow-box__header p {
      margin-bottom: 16px;
    }
    
    .shadow-box__content {
      padding-bottom: 24px;
      flex-grow: 1;
    }
    
    .hero__selectors-wrapper .shadow-box__content p {
      margin-bottom: 16px
    }
    
    .hero__selectors-wrapper .external-link-wrapper {
      position: relative;
    }
  
    .hero__selectors-wrapper .shadow-box__content p:last-child {
      margin-bottom: 0;
    }

    .hero__selectors-wrapper .shadow-box__buttons-wrapper {
      justify-self: flex-end;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
    }

    .hero__selectors-wrapper .info-button {
      padding-right: 24px;
    }

    @media screen and (max-width: 1023px) {
      .hero__selectors-wrapper .shadow-box-wrapper-module__shadow-box-columnwrap--arrowed {
        padding-top: 0;
      }
  
      .hero__selectors-wrapper .shadow-box-wrapper-module__shadow-box-columnwrap--arrowed:after {
        width: 34px;
        height: auto;
        min-height: 80px;
        right: 0;
        bottom: -56px;
        left: auto;
        top: auto;
        min-width: 34px;
        max-width: 34px;
      }
  
      .hero__selectors-wrapper .shadow-box-wrapper-module__shadow-box-columnwrap--arrowed:nth-child(2n):after {
        transform:matrix(-1,0,0,1,0,0);
        right: auto;
        left: 0;
      }
  
      .hero__selectors-wrapper .shadow-box-wrapper-module__shadow-box-columnwrap--arrowed:last-child:after {
        content: null;
        display: none;
      }
    }

    /* SPECIFIC EXCEPTION FOR SPRZEDAWCY KAS!! EVENTUALLY TODO: SETUP CODE BELOW AS A MODULE FUNCTIONALITY */
      .body-container-wrapper.sprzedawcy-kas  .hero__image-high {
        height: 96vw;
      }
      .body-container-wrapper.sprzedawcy-kas  .hero__image-high img{
        object-fit: contain;
        object-position: 50% 0% !important;
      }

      .body-container-wrapper.sprzedawcy-kas .hero__text-content {
        top: 0%;
        left: 0%;
        transform: none;
      }

      .body-container-wrapper.sprzedawcy-kas .hero__help-text {
        padding-top: 0;
      }

      .body-container-wrapper.sprzedawcy-kas .hero__text-content h1 {
        color: #0140BE;
        margin-bottom: 0;
      }

      @media screen and (min-width: 530px ){
        .body-container-wrapper.sprzedawcy-kas  .hero__image-high img{
          object-position: 50% 20% !important;
        }

        .body-container-wrapper.sprzedawcy-kas .hero__text-content {
          top: 15%;
          left: 11%;
        }

        .body-container-wrapper.sprzedawcy-kas .hero__text-content h1 {
          margin-bottom: 1.4rem;
        }
      }

      @media screen and (min-width: 530px ){
        .body-container-wrapper.sprzedawcy-kas  .hero__image-high img{
          object-position: 50% 20% !important;
        }

        .body-container-wrapper.sprzedawcy-kas .hero__text-content {
          top: 15%;
          left: 11%;
        }
      }

      @media screen and (min-width: 768px ){
        .body-container-wrapper.sprzedawcy-kas  .hero__image-high {
          height: 60vw;
        }

        .body-container-wrapper.sprzedawcy-kas .hero__text-content {
          top: 100px;
          left: 50%;
          transform:translateX(-50%);
        }

        .body-container-wrapper.sprzedawcy-kas  .hero__image-high img{
          object-fit: cover;
          object-position: 50% 49.75% !important;
        }
        
      }

      @media screen and (min-width: 1024px ){
        .body-container-wrapper.sprzedawcy-kas  .hero__image-high {
          height: 766px;
          margin-bottom:-130px;
        }
        .body-container-wrapper.sprzedawcy-kas .hero__text-content h1 {
          font-size: 109px !important;
        }
        .body-container-wrapper.sprzedawcy-kas .hero__help-text {
          font-size: 29px;
        }
      }

    /*END OF EXCEPTION FOR SPRZEDAWCY KAS*/