<!--
  templateType: error_page
  isAvailableForNewContent: true
  label: Boilerplate - 404 error
  screenshotPath: ../../images/template-previews/404.png
-->
{% extends '../layouts/base.html' %}

{% block body %}
<main id="main-content"  class="body-container-wrapper">
  <section class="content-wrapper center error-page" data-error="404">
    <h1>Ups...</h1>
    <p>Strona której szukasz nie istnieje lub zmieniła swój adres. Powiedz nam czego szukasz?</p>
    {% module "search_input" path="@hubspot/search_input" %}
    <img class="error-page--icon" src="{{get_asset_url('../../images/icons/404.svg')}}" alt="Error page image">
    <div class="error-page--button-wrapper">
      <a href="/" class="button--primary">Wróć do strony głównej</a>
    </div>
  </section>
</main>
{% endblock body %}