<!--
  templateType: page
  isAvailableForNewContent: true
  label: Isobar Additional LPs - Default
  screenshotPath: ../images/template-previews/home.png
-->
{% extends "./layouts/additional-lp-base.html" %}
{% image "header_background_image" path="@hubspot/image" label='Header background image',
export_to_template_context=True, src="" %}

{% text "header_height" path="@hubspot/text" label='Height of header',
export_to_template_context=True, value="80vh" %}
{% text "header_mobile_height" path="@hubspot/text" label='Height of header on mobile',
export_to_template_context=True, value="80vh" %}
{% text "header_bg_size" path="@hubspot/text" label='Size of background',
export_to_template_context=True, value="" %}
{% text "header_bg_mobile_size" path="@hubspot/text" label='Size of mobile bakcground',
export_to_template_context=True, value="" %}
{% text "header_bg_position" path="@hubspot/text" label='Background position',
export_to_template_context=True, value="" %}
{% text "header_bg_mobile_position" path="@hubspot/text" label='Background position on mobile',
export_to_template_context=True, value="" %}
{% boolean "bg_visible_on_mobile" path="@hubspot/text" label='Is background visible on mobile?',
export_to_template_context=True, value=false %}


{% block body %}
{# The main-content ID is used for the navigation skipper in the header.html file. More information on the navigation
skipper can be found here: https://github.com/HubSpot/cms-theme-boilerplate/wiki/Accessibility #}
<div class="page-header__tool page-header__tool--first">
  {% global_partial path='./partials/header-partials/font-switcher.html' %}
</div>
<script>
  var PORTAL_ID = "{{ hub_id }}";

</script>

<style type="text/css">
  .header-with-hero {
    padding: 0 24px 40px;
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
    height: {{widget_data.header_height.value}};
    {% if widget_data.header_bg_position.value %}
      background-position: {{widget_data.header_bg_position.value}};
    {% endif %}
    {% if widget_data.header_bg_size.value %}
      background-size: {{widget_data.header_bg_size.value}};
    {% endif %}
  }

  @media screen and (max-width: 1023px) {
    .header-with-hero {
      {% if !widget_data.bg_visible_on_mobile.value %}
        background: none !important;
      {% endif %}
      height: {{widget_data.header_mobile_height.value}};
      {% if widget_data.header_bg_mobile_position.value %}
        background-position: {{widget_data.header_bg_mobile_position.value}};
      {% endif %}
      {% if widget_data.header_bg_mobile_size.value %}
        background-size: {{widget_data.header_bg_mobile_size.value}};
      {% endif %}
    }
  }

  @media screen and (min-width: 1024px) {
    .header-with-hero {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: flex-start;
    }

    .header-with-hero .section {
      flex-grow: 1;
      flex-shrink: 0;
      max-width: 1232px;
      margin: 0 auto;
      display: flex;
      width: 100%;
      justify-content: flex-start;
      align-items: center;
    }
  }

  .page-header__tool {
    justify-content: flex-end;
    position: absolute;
    right: 10%;
    top: 40px;
  }

  .header-with-hero .section {
    max-width: 1232px;
    margin: 0 auto;
  }

  @media screen and (min-width: 1024px) {}
</style>
<main id="main-content" class="body-container-wrapper additional-lp-default">
  <div class="header-with-hero" style="background-image: url('{{widget_data.header_background_image.src}}');">
    <div class="additional-lp-header">
      {% module "sklepy-w-sieci-header" path="/isobar-eservice-theme/modules/sklepy-w-sieci/sklepy-w-sieci-header",
      link_group = {
      link_text : "",
      link_target : ""
      }

      %}
    </div>
    <div class="section">
      <div class="dnd-row row-fluid">
        <div class="dnd-column span6">
          {% module "Hero-text" path="@hubspot/rich_text"
          %}
        </div>
      </div>
    </div>
  </div>

  {# All templates are recommended to have an h1 present for both accessibility and SEO best practice. This should be at
  the top of the template before any other textual content. The h1 element below is within a dnd area to allow content
  editors the ability to adjust the content and alignment of the text. #}
  {% dnd_area 'dnd_area' class='body-container body-container--home', label='Main section' %}

  {% end_dnd_area %}
</main>

{% text "service-name" label='Service name', export_to_template_context=True, value='eService' %}
{% text "allrr-text" label='All rights reserved text', export_to_template_context=True, value='eService Sp. z o.o.
Wszelkie prawa zastrzeżone' %}
{% boolean "additional_visible" label='Is footer additional section visible?', export_to_template_context=True,
value=true %}
<footer class="footer default-shadow-box">
  <div class="footer__container footer__container--cba">
    {# Copyright information section #}
    <div class="footer__copyright">
      <div class="footer__copyright__text">
        {{ widget_data['service-name'].value}} &copy; {{ year }} {{ widget_data['allrr-text'].value}}
      </div>
    </div>
    {# End copyright information section #}

  </div>
</footer>
{% endblock body %}