<!-- 
  templateType: page
  isAvailableForNewContent: true
  label: Coca-cola-login1
  screenshotPath: ../images/template-previews/coca-cola-login.png -->

  {% extends "./layouts/base-cba-no-header-and-footer.html" %}

  {% block body %}
  <main class="body-container-wrapper coca-cola-login coca-cola-section">
      <div class="background-coca-cola-login">
      </div>
    {% dnd_area 'dnd_area' class='body-container body-container--contact', label='Coca-cola main' %}
    {# CocaCola test section #}
    {% dnd_section %}
    {% dnd_column %}
      {% dnd_row %}
        {% dnd_module path='@hubspot/image',
          offset=0,
          width=4,
          alt: '',
          horizontal_alignment='RIGHT',
          flexbox_positioning='MIDDLE_CENTER',
          img={
            'alt': '',
            'size_type': 'auto',
            'src': get_asset_url('../images/coca-cola/dentsu-logo.svg')
          }
        %}
        {% end_dnd_module %}
        {% dnd_module path='@hubspot/image',
          offset=4,
          width=2,
          alt: '',
          flexbox_positioning='MIDDLE_CENTER',
          img={
            'alt': '',
            'size_type': 'auto',
            'src': get_asset_url('../images/coca-cola/ex.png')
          }
        %}
        {% end_dnd_module %}
        {% dnd_module path='@hubspot/image',
          offset=8,
          width=4,
          alt: '',
          horizontal_alignment='LEFT',
          flexbox_positioning='MIDDLE_CENTER',
          img={
            'alt': 'logo',
            'size_type': 'auto',
            'src': get_asset_url('../images/coca-cola/coca-cola-logo.svg')
          }
        %}
        {% end_dnd_module %}
      {% end_dnd_row %}
    {% end_dnd_column %}
  {% end_dnd_section %}
    {% dnd_section  
      padding={
        'top': 0,
        'bottom': 0
      },
    %}
    {% dnd_column  width=12 %}
    {% dnd_row %}
   
        {% dnd_module path='../modules/magic-password' 
        horizontal_alignment='CENTER',
          flexbox_positioning='MIDDLE_CENTER' %} 
        {% end_dnd_module %}
         
   
        {% end_dnd_row %}
        {% end_dnd_column %}
      {% end_dnd_section %}
      {# End main section #}
    {% end_dnd_area %}
  
  </main>
  {% endblock body %}