<!-- 
  templateType: page
  isAvailableForNewContent: true
  label: Coca-cola-main
  screenshotPath: ../images/template-previews/coca-cola.png -->

  {% extends "./layouts/base-cba-no-header-and-footer.html" %}

{% block body %}
<main class="body-container-wrapper coca-cola-section">
    <div class="background-coca-cola">
    </div>
  {% dnd_area 'dnd_area' class='body-container body-container--contact', label='Coca-cola main' %}
  {# CocaCola test section #}
  {% dnd_section %}
  {% dnd_column %}
    {% dnd_row %}
      {% dnd_module path='@hubspot/image',
        offset=0,
        width=4,
        horizontal_alignment='RIGHT',
        'alt': '',
        flexbox_positioning='MIDDLE_CENTER',
        img={
          'alt': '',
          'size_type': 'auto',
          'src': get_asset_url('../images/coca-cola/dentsu-logo.svg')
        }
      %}
      {% end_dnd_module %}
      {% dnd_module path='@hubspot/image',
        offset=4,
        width=2,
        'alt': '',
        flexbox_positioning='MIDDLE_CENTER',
        img={
          'alt': '',
          'size_type': 'auto',
          'src': get_asset_url('../images/coca-cola/ex.png')
        }
      %}
      {% end_dnd_module %}
      {% dnd_module path='@hubspot/image',
        offset=8,
        width=4,
        'alt': '',
        horizontal_alignment='LEFT',
        flexbox_positioning='MIDDLE_CENTER',
        img={
          'size_type': 'auto',
          'alt': '',
          'src': get_asset_url('../images/coca-cola/coca-cola-logo.svg')
        }
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
{% end_dnd_section %}
{# Heading text of section #}
{% dnd_section,
  margin={
    'top': 0,
    'bottom': 0
  },
  padding={
    'top': 0,
    'bottom': 0
  },
  horizontal_alignment='MIDDLE',
%}
  {% dnd_column
    width=12,
  %}
    {% dnd_row %}
      {% dnd_module path='@hubspot/header'
        value='Digial',
        color="white",
        flexbox_positioning='MIDDLE_CENTER',
        horizontal_alignment='CENTER',
        header_tag='h2'
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
{% end_dnd_section %}

{# Heading text of section end #}

  {% dnd_section  
    padding={
      'top': 0,
      'bottom': 0
    },
  %}
  {% dnd_column  width=12 %}
  {% dnd_row %}
        {% dnd_module path='../modules/list-download-button',
        section_block=[
              {
                  'image_field': {
                  'src': get_asset_url('../images/coca-cola/amway-logo.png'),
                  },
                  'title_text': 'Title of the asset or pptx you want user to download',
                  'download_link_group': {
                    'link_field': {
                      'url': {
                        href:"google.com"
                    }
                  }
                }
            },
              {
                'image_field': {
                  'src': get_asset_url('../images/coca-cola/amway-logo.png'),
                },
                'title_text': 'Title of the asset or pptx you want user to download',
                'download_link_group': {
                    'link_field': {
                        'url': {
                          href:"google.com"
                      }
                    }
                }
            },
              {
                  'image_field': {
                    'src': get_asset_url('../images/coca-cola/amway-logo.png'),
                  },
                  'title_text': 'Title of the asset or pptx you want user to download',
                  'download_link_group': {
                    'link_field': {
                      'url': {
                        href:"google.com"
                      }
                  }
              }
            }
            ]
          %}
          {% end_dnd_module %}
      {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
    {# Heading text of section #}
{% dnd_section,
  margin={
    'top': 0,
    'bottom': 0
  },
  padding={
    'top': 0,
    'bottom': 0
  },
%}
  {% dnd_column
    width=12,
  %}
    {% dnd_row %}
      {% dnd_module path='@hubspot/header'
        value='Strategy' ,
        header_tag='h2',
        color="white",
        flexbox_positioning='MIDDLE_CENTER',
        horizontal_alignment='CENTER',
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
{% end_dnd_section %}

{# Heading text of section end #}

{% dnd_section padding={
  'top': 0,
  'bottom': 0
}, %}
{% dnd_column  width=12 %}
{% dnd_row %}
      {% dnd_module path='../modules/list-download-button',
      section_block=[
            {
                'image_field': {
                'src': get_asset_url('../images/coca-cola/amway-logo.png'),
                },
                'title_text': 'Title of the asset or pptx you want user to download',
                'download_link_group': {
                  'link_field': {
                    'url': {
                      href:"google.com"
                  }
                }
              }
          },
            {
              'image_field': {
                'src': get_asset_url('../images/coca-cola/amway-logo.png'),
              },
              'title_text': 'Title of the asset or pptx you want user to download',
              'download_link_group': {
                  'link_field': {
                      'url': {
                        href:"google.com"
                    }
                  }
              }
          }]
        %}
        {% end_dnd_module %}
    {% end_dnd_row %}
    {% end_dnd_column %}
  {% end_dnd_section %}
    {# End main section #}
  {% end_dnd_area %}

</main>
{% endblock body %}