<!--
  templateType: page
  isAvailableForNewContent: true
  label: Services - Category
  screenshotPath: ../images/template-previews/home.png
-->
{% extends "./layouts/base.html" %}
{% block body %}
<script type="text/javascript" src="{{get_asset_url('../js/masonry.js')}}"></script>

<main id="main-content" class="body-container-wrapper">
    <div class="section">
        <div class="dnd-row">
            <div class="dnd-column span12">
                {% module "module_16051739451843" path="/isobar-eservice-theme/modules/hero-with-buttons" %}
            </div>
        </div>
    </div>

    {% dnd_area 'dnd_area' class='body-container body-container--home', label='Main section' %}{% end_dnd_area %}
</main>
{% endblock body %}

{% require_js %}
<script>
    ServicesService.setExtraUrlParam('branza', '{{ dynamic_page_hubdb_row.name }}');
</script>
{% end_require_js %}
