<!--
  templateType: page
  isAvailableForNewContent: true
  label: Isobar Sklepy w sieci - Default
  screenshotPath: ../images/template-previews/home.png
-->
{% extends "./layouts/sklepy-w-sieci-base.html" %}

{% block body %}
{# The main-content ID is used for the navigation skipper in the header.html file. More information on the navigation skipper can be found here: https://github.com/HubSpot/cms-theme-boilerplate/wiki/Accessibility #}
<main id="main-content" class="body-container-wrapper sklepy-w-sieci">
  <div class="sklepy-w-sieci-header__wrapper">
    {% module "sklepy-w-sieci-header" path="/isobar-eservice-theme/modules/sklepy-w-sieci/sklepy-w-sieci-header",
        link_group = {
            link_text : "Zamów rozmowę",
            link_target : "orderForm"
        }

    %}
  </div>
  <div class="section">
    <div class="dnd-row">
      <div class="dnd-column span12">
        {% module "module_16051739451843" path="/isobar-eservice-theme/modules/sklepy-w-sieci/sklepy-w-sieci-hero-with-buttons"
       %}
      </div>
    </div>
  </div>

  {# All templates are recommended to have an h1 present for both accessibility and SEO best practice. This should be at the top of the template before any other textual content. The h1 element below is within a dnd area to allow content editors the ability to adjust the content and alignment of the text. #}
  {% dnd_area 'dnd_area' class='body-container body-container--home', label='Main section' %}

  {% end_dnd_area %}
</main>
{% endblock body %}

{% block footer %}
  {% global_partial path='./partials/SWS-footer.html' %}
{% endblock footer %}