.external-link-box-wrapper-module__row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
}

.external-link-box-wrapper-module__external-link-box-columnwrap {
  margin-bottom: 12px;
}

.external-link-box__wrapper {
    display: inline-block;
    text-align: left;
    padding: 24px 40px;
    background-color: #fff;
    height: 100%;
    width: 100%;
    border-radius: 16px;
    box-shadow: 0 8px 32px rgba(1, 64, 190 , 0.08);
    margin-bottom: 8px;
  }

  .external-link-box-wrapper-module__row:not(.files-list) .external-link-box__wrapper {
    display: flex;
    flex-direction: column;
  }

  .external-link-box-wrapper-module__row:not(.files-list) .external-link-box__content {
    flex-basis: 100%;
  }
  
  .external-link-box__wrapper.centered {
    text-align: center;
  }
  
  .external-link-box__wrapper.external-link-box--image-spacing {
    padding: 40px;
  }
  @media screen and (min-width: 1024px) {
    .external-link-box-wrapper-module__row.files-list .external-link-box-wrapper-module__external-link-box-columnwrap {
      width: 100%;
      margin-left: 0;
    }

    .external-link-box-wrapper-module__row.files-list .external-link-box-wrapper-module__external-link-box-columnwrap .external-link-box__wrapper {
      display:flex;
      padding: 0 24px;
      align-items: center;
      justify-content: space-between;
      flex-wrap: nowrap;
    }
    
    .external-link-box-wrapper-module__row.files-list .external-link-box-wrapper-module__external-link-box-columnwrap .external-link-box__image {
      padding: 16px 24px 16px 0;
    }

    .external-link-box-wrapper-module__row.files-list .external-link-box-wrapper-module__external-link-box-columnwrap .external-link-box__image img {
      height: 40px;
    }

    .external-link-box-wrapper-module__row.files-list .external-link-box-wrapper-module__external-link-box-columnwrap .external-link-box__header {
      flex-grow: 1;
      justify-self: stretch;
    }

    .external-link-box-wrapper-module__row.files-list .external-link-box-wrapper-module__external-link-box-columnwrap .external-link-box__header p {
      margin: 0;
    }

    .external-link-box-wrapper-module__row.files-list .external-link-box-wrapper-module__external-link-box-columnwrap .external-link-box__content {
      display:none;
    }

    .external-link-box-wrapper-module__row.files-list .external-link-box-wrapper-module__external-link-box-columnwrap .external-link-box__link-button-wrapper {
      width: auto;
      max-width: 165px;
      padding-left:24px;
      flex-shrink: 0;
    }

    .external-link-box-wrapper-module__row.files-list .external-link-box-wrapper-module__external-link-box-columnwrap .external-link-box__link-button-wrapper .button {
      word-break: keep-all;
      max-width: 100%;
    }
  }

  .external-link-box__image {
    padding-bottom: 24px;
  }
  
  .external-link-box__image img {
    height: 88px;
    width: auto;
  }
  
  .external-link-box__image header {
    padding-bottom: 16px;
  }
  
  .external-link-box__image header p {
    margin-bottom: 0;
  }
  
  .external-link-box__header p {
    margin-bottom: 16px;
  }
  
  .external-link-box__content {
    padding-bottom: 24px
  }
  
  .external-link-box__content p {
    margin-bottom: 16px
  }
  
  .external-link-box__content p:last-child {
    margin-bottom: 0;
  }
  
  .external-link-box__link-button-wrapper {
    width: 100%;
    padding: 0;
    margin: 0;
    padding-bottom: 24px;
  }
  
  .external-link-box__link-button-wrapper:last-child {
    padding:0;
    text-align: inherit;
  }
  
  .external-link-box__link-button-wrapper a {
    margin: 0 auto;
  }
  
  .external-link-box__read-more-wrapper {
    padding: 0;
    text-align: inherit;
  }
  
  .external-link-box__read-more-wrapper a {
    margin: 0 auto;
  }