<!-- module html  -->
<div class="form-selector__wrapper-module">
    <h3 class="{{module.alignment}}">{{module.form_selector_title}}</h3>
    <div class="form-selector__wrapper-module__row columns{{module.boxes_row_ammount}}">
        {% for form in module.form_block %}
        <div class="form-selector-wrapper-module__form-selector-columnwrap span{{12//module.boxes_row_ammount}}">
            <button class="form-selector__button {% if loop.index0 == 0 %} selected {% endif %}" data-target="{{form.form_id}}">
                <h2>{{form.form_label}}</h2>
            </button>
        </div>
        {% endfor %}
    </div>
</div>
<div class="form-selector__forms-section">
    {% for form in module.form_block %}
        <div id="{{form.form_id}}" class="form-selector__form-wrapper {% if loop.index0 != 0 %} hidden {% endif %}">
            {% form
                form_to_use='{{form.form_field.form_id}}',
            %}
        </div>
    {% endfor %}
</div>