.hero-form-module__wrapper {
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}


.hero-form-module__wrapper > div {
    width: 100%;
    max-width: 100%;
}

@media screen and (min-width: 1024px){
    .hero-form-module__wrapper {
        flex-wrap: nowrap;
    }
    
    .hero-form-module__wrapper > div {
        width: 50%;
        max-width: 50%;
    }
}

.hero-form-module__image-container {
    line-height: 0;
}

.hero-form-module__image-container img {
    max-width: 100%;
    height: auto;
}

.hero-form-module__left-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}


.hero-form-module__right-col {
    padding: 32px 48px;
}

.add-field-button {
    background: none;
    display: inline-block;
    margin-bottom: 32px;
    border: none;
}

.heroFormHide.heroFormHide {
    display: none;
}

.hero-form-module__wrapper form p {
    font-size: 14px;
    line-height: 1.3;
}