.download-box-module {
    max-width: 1232px;
    margin: 0 auto;
  }
  
  .download-box-module__row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: stretch;
      justify-content: flex-start;
  }
  
  .download-box-wrapper-module__download-box-columnwrap {
    margin-bottom: 24px;
  }
  
  .download-box__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: stretch;
    text-align: center;
    padding: 40px 12px;
    height: 100%;
    width: 100%;
    margin-bottom: 8px;
  }
  
  .download-box__wrapper{
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0px 8px 32px #002C8414;
  }
  
  .download-box__image {
    padding-bottom: 24px;
    flex-grow: 0;
  }
  
  .download-box__image img {
    max-height: 88px;
    max-width: 100%;
    height: auto;
    width: auto;
  }
  
  .shadow-box__wrapper--placeholder .shadow-box__image{
    padding: 0;
  }
  
  .shadow-box__wrapper--placeholder .shadow-box__image img{
    max-width: 50%;
  }
  
  .shadow-box__image header {
    padding-bottom: 16px;
  }
  
  .shadow-box__header p {
    margin-bottom: 16px;
  }
  
  .shadow-box__content {
    padding-bottom: 24px;
    flex-grow: 1;
  }
  
  .shadow-box__content p {
    margin-bottom: 16px
  }
  
  .external-link-wrapper {
    position: relative;
    justify-self: flex-end;
    flex-grow: 0;
    flex-shrink: 0;
  }
  
  .shadow-box__content p:last-child {
    margin-bottom: 0;
  }
  
  @media screen and (max-width: 1023px) {
    .shadow-box-wrapper-module__shadow-box-columnwrap--arrowed {
      padding-top: 0;
    }
  
    .shadow-box-wrapper-module__shadow-box-columnwrap--arrowed:after {
      width: 34px;
      height: auto;
      min-height: 80px;
      right: 0;
      bottom: -56px;
      left: auto;
      top: auto;
      min-width: 34px;
      max-width: 34px;
    }
  }