.shareholder-module__wrapper {
    display: inline-block;
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
}

.shareholder-module__tabs-wrapper {
    position: relative;
    width: 940px;
    margin: 15px auto;
    z-index: 5;
    text-align: center;
}

.shareholder-module__button {
    border: 0;
    background: transparent;
    text-align: center;
    position: absolute;
    cursor: default;
    transition: all 0.3s;
    opacity: 0;
}

.shareholder-module__button a {
    color: #0140BE;
    font-weight: 800;
    font-size: 16px;
    text-decoration: none;
    display: block;
    padding: 10px 0;
    transition: all 0.2s;
    visibility: visible;
}

.shareholder-module__button a:hover {
    text-decoration: underline;
}

.shareholder-module__button img {
    opacity: 0.5;
    transition: all 0.5s;
}

.shareholder-module__button_active img {
    opacity: 1;
}

.shareholder-module__button_active a {
    visibility: hidden;
}

.shareholder-module__button:focus {
    outline: 0;
}

/* .shareholder-module__button:hover {
  transform: scale(1.1);
} */
.shareholder-module__button_tab1 {
    left: 0px;
    bottom: 140px;
}

.shareholder-module__button_tab2 {
    right: 20px;
    bottom: 140px;
}

.shareholder-module__wrapper_active .shareholder-module__button {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

.shareholder-module__button_tab1 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.shareholder-module__button_tab2 {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}

.shareholder-module__button h6 {
    color: #1751C3;
    font-size: 24px;
    padding: 10px;
}

.shareholder-module__percent {
    border: 0;
    background: transparent;
    text-align: center;
    position: absolute;
    color: #1751C3;
    font-size: 80px;
    line-height: 54px;
    height: 80px;
    font-weight: 800;
    padding: 10px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 0;
    transition: all 0.3s;
}

.shareholder-module__percent_active {
    opacity: 1;
}

.shareholder-module__single-chart {
    width: 432px;
    height: 432px;
    margin: 45px auto;
    position: relative;
}

.shareholder-module__circular-chart {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
    overflow: visible;
}

.shareholder-module__circle-bg {
    fill: none;
    stroke: #E8EFF7;
    stroke-width: 4.4;
    opacity: 0;
}

.shareholder-module__wrapper_active .shareholder-module__circle-bg {
    animation: progress 2s ease-out forwards;
    opacity: 1;
}

.shareholder-module__circle {
    fill: none;
    stroke: #0140BE;
    stroke-width: 4.4;
    stroke-linecap: round;
    /* stroke-dasharray: 0 10; */
    opacity: 0;
}

.shareholder-module__circle1 {
    transform: rotate(120deg);
    transform-origin: center;
}

.shareholder-module__circle-fill {
    animation: progress 2s ease-out forwards;
    opacity: 1;
}

.shareholder-module__circle-fill-out {
    animation: regres 2s ease-out forwards;
}

.shareholder-module__content {
    opacity: 0;
    max-height: 0px;
    overflow: hidden;
}


@media screen and (max-width: 950px) {
    .shareholder-module__tabs-wrapper {
        width: 90%;
    }

    .shareholder-module__single-chart {
        margin: 45px auto;
    }

    .shareholder-module__button {
        position: static;
        display: inline-block;
    }
}

@media screen and (max-width: 480px) {
    .shareholder-module__tabs-wrapper {
        width: 100%;
    }

    .shareholder-module__single-chart {
        width: 320px;
        height: 320px;
    }

    .shareholder-module__percent {
        font-size: 58px;
    }
}

.animate__progress {
    animation: progress 2s ease-out forwards;
    opacity: 1;
}

.animate__regress {
    animation: regress 1s ease-out forwards;
}

@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}

@keyframes regress {
    0% {
        opacity: 1;
    }
    100% {
        stroke-dasharray: 0 100;
        opacity: 0;
    }
}


@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.animate__fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.animate__fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}


@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        max-height: 600px;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        max-height: 600px;
    }
}

.animate__fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeOutUp {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        max-height: 0px;
    }
}

@keyframes fadeOutUp {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        max-height: 0px;
    }
}

.animate__fadeOutUp {
    -webkit-animation-name: fadeOutUp;
    animation-name: fadeOutUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
