/*shadowbox*/

{% for x in range(0,3) %}
    .row-fluid .span{{loop.index}} .shadow-box__wrapper, .row-fluid .span{{loop.index}} .external-link-box__wrapper {
        padding: 40px 24px;
    }
{% endfor %}

{% for x in range(4,12) %}
    .row-fluid .span{{loop.index + 3}} .shadow-box__wrapper, .row-fluid .span{{loop.index + 3}} .external-link-box__wrapper {
        padding-left: 40px;
        padding-right: 40px;
    }
{% endfor %}

/*shadowbox*/

/*social-links*/
.social-links__icon svg {
    fill: {{theme.global_colors.primary_color.color}};
  }
  
  .social-links__icon:hover svg,
  .social-links__icon:focus svg,
  .social-links__icon:active svg {
    fill: {{theme.global_colors.primary_color.color}};
  }
/*social-links*/

/*accordion module*/
.accordion-module__label {
    border-bottom: 1px solid {{theme.global_colors.text_elements_color.color}};
}

.opened .accordion-module__label:after {
    background-color: {{theme.global_colors.primary_color.color}};
}

.opened .accordion-module__label__icon g {
    fill: {{theme.global_colors.primary_color.color}};
    stroke: {{theme.global_colors.primary_color.color}};
}
.opened .accordion-module__label__icon path {
    fill: #fff;
    stroke: #fff;
}
/*accordion-module

/*external link box module */
{% for x in range(0,4) %}
    .external-link-box-wrapper-module__row.columns{{loop.index}} .external-link-box-wrapper-module__external-link-box-columnwrap:nth-of-type({{loop.index}}n+1){
        margin-left: 0;
    }
{% endfor %}
/*external link box module */


/*shadow box module */
{% for x in range(0,4) %}
    .shadow-box__wrapper-module__row.columns{{loop.index}} .shadow-box-wrapper-module__shadow-box-columnwrap:nth-of-type({{loop.index}}n+1){
        margin-left: 0;
    }
{% endfor %}

/* in order not to break default styling - aditional styling for module sws version only */
{% for x in range(0,11) %}
    .shadow-box__wrapper-module--sws .span{{loop.index}} {
        width: calc((   99%/12)*{{loop.index}} - ({{theme.grid.gutter}}px/2));
    }

    @media screen and (max-width: {{theme.grid.desktop_min - 1}}px) {
        .shadow-box__wrapper-module--sws .span{{loop.index}} {
            width: 100%;
        }
    }
{% endfor %}

.shadow-box-wrapper-module__shadow-box-columnwrap--arrowed:after {
    background-image: url("{{get_asset_url('../../images/arrow.png')}}");
}

@media screen and (max-width: {{theme.grid.desktop_min - 1}}px) {
    .shadow-box-wrapper-module__shadow-box-columnwrap--arrowed:after {
        background-image: url("{{get_asset_url('../../images/arrow-mobile.svg')}}");
    }
}

/* .external-link-wrapper a:after {
    content: '';
    position: absolute;
    display: inline-block;
    height: 11px;
    width: 11px;
    top:50%;
    right: 0
    left: auto;
    transform:translate(50%, -50%);
    background-image: url("{{get_asset_url('../../images/icons/external-ico.svg')}}");
    background-size: contain;
    background-repeat: no-repeat;
} */
/*shadow box module */


/* form selector */
@media screen and (max-width: {{theme.grid.desktop_min - 1}}px) {
    .form-selector-wrapper-module__form-selector-columnwrap {
        margin-bottom: 24px;
    }
}
/* form selector */

/* full width gradient images */
@media screen and (max-width: {{theme.grid.desktop_min - 1}}px) {
    .gradient-fw-images-module.gradient-fw-images-module {
        flex-wrap: wrap ;
    }
    

    .gradient-fw-images-module .gradient-fw-images-module__element-wrapper.gradient-fw-images-module__element-wrapper {
        width: 100% !important;
        height: 57vw;
    }

    .gradient-fw-images-module .gradient-fw-images-module__content-container.gradient-fw-images-module__content-container {
        left: 24px;
        bottom: 24px;
    }
}
/* full width gradient images */

/* shadow box with side image */

.shadow-box-side-image__wrapper .shadow-box-side-image__cta-wrapper a.cta_button.cta_button   {
    font-family: {{theme.global_fonts.primary_font.font}} !important;
    font-size: {{theme.typography.body_text.size}}px !important;
    color: white;
}
.shadow-box-side-image__wrapper .shadow-box-side-image__cta-wrapper:hover a.cta_button.cta_button   {
    color: {{theme.global_colors.primary_color.color}};
}

/* shadow box with side image */