.e-tooltip {}

.e-tooltip:before {
    content: '';
    width: 32px;
    height: 32px;
    background: url({{ get_asset_url('/isobar-eservice-theme/images/icons/ico-info.svg') }}) no-repeat center/contain #E5EBF9;
    display: block;
    border-radius: 50%;
}

.e-tooltip__content {
    display: none;
}

