.ask-for-offer__wrapper {
    margin-bottom: 30px;
    min-height: 300px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 20%;
  }

  .ask-for-offer__wrapper_content {
    width: 100%;
    max-width: 1232px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 10px 15px;
  }


  .ask-for-offer__header,
  .ask-for-offer__cta {
    width: 50%;
    float: left;
    align-content: center;
    display: flex;
    margin: 20px 0;
  }

  .ask-for-offer__header h6 {
    color: #000000;
    font-size: 22px;
    padding-right: 50px;
    margin: 0;
    line-height: 1.4;
  }

  .ask-for-offer__cta a {
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    line-height: 1.4;
    text-align: center;
    padding: 14px 20px;
    box-sizing: border-box;
    border: 2px solid #0140BE;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s;
    color: #ffffff;
    background: #0140BE;
    width: 100%;
    margin: 0;
  }

  .ask-for-offer__cta a:hover {
    color: #0140BE;
    background: #ffffff;
    text-decoration: none;
  }


  @media screen and (max-width: 960px) {
    .ask-for-offer__wrapper_content {
      display: block;
    }
    .ask-for-offer__header,
    .ask-for-offer__cta {
      width: 100%;
      text-align: center;
    }
    .ask-for-offer__header h6 {
      padding-right: 0px;
    }
  }
