.services-category__items {
    display: flex;
    flex-flow: wrap;
    margin: 0 -8px;
    justify-content: left;
}
.services-category__items > * {
    width: calc(33.333% - 16px);
    margin: 8px;
}
.services-category__items .grid-sizer {
    width: calc(33.333% - 16px);
}
@media screen and (max-width: 1024px) {
    .services-category__items > * {
        width: calc(50% - 16px);
    }
    .services-category__items .grid-sizer {
        width: calc(50% - 16px);
    }
}

@media screen and (max-width: 640px) {
    .services-category__items > * {
        margin: 8px 0;
        width: calc(100%);
    }
    .services-category__items .grid-sizer {
        width: calc(100%);
    }
}
