.blog-header {
  background-color: #F8FAFC;
  text-align: center;
}

/* Blog listing */

.blog-index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.blog-index:after {
  content: "";
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
}

.blog-index__post {
  -webkit-box-flex:  0;
  -ms-flex:  0 0 100%;
  flex:  0 0 100%;
}

/* Blog pagination */

.blog-pagination {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Lato, sans-serif;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

/* .blog-pagination__link {
  border: 2px solid transparent;
  color: #494A52;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  line-height: 1;
  text-decoration: none;
}

.blog-pagination__link--active {
  border: 2px solid #B0C1D4;
}

.blog-pagination__link:hover,
.blog-pagination__link:focus {
  text-decoration: none;
}

.blog-pagination__prev-link,
.blog-pagination__next-link {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.blog-pagination__prev-link--disabled,
.blog-pagination__next-link--disabled {
  color: #B0C1D4;
  cursor: default;
  pointer-events: none;
}
*/
.blog-pagination__prev-link,
.blog-pagination__next-link {
  padding: 0 24px;
}

.blog-pagination__prev-link .icon,
.blog-pagination__next-link .icon {
  position: relative;
  display: inline-block;
  height: 40px;
  width: 40px;
  margin: 0 6px;
  border-radius: 40px;
  vertical-align: top;
  background-color: {{theme.global_colors.primary_color.color}};
  transform: translateY(-25%);
}

.blog-pagination__prev-link.disabled .icon,
.blog-pagination__next-link.disabled .icon {
  background-color: {{theme.global_colors.text_elements_color.color}};
}

.blog-pagination__prev-link.blog-pagination__prev-link svg,
.blog-pagination__next-link.blog-pagination__next-link svg {
  position: absolute;
  top:50%;
  transform:translateY(-50%);
  fill: white;
  margin: 0 5px;
}

.blog-pagination__prev-link.blog-pagination__prev-link svg {
  left: 15%;
}

.blog-pagination__next-link.blog-pagination__next-link svg {
  right: 15%;
}

.blog-pagination__number-link {
  height:35px;
  padding: 0 3px;
}
/* 
.blog-pagination__prev-link--disabled svg,
.blog-pagination__next-link--disabled svg {
  fill: #B0C1D4;
}

.blog-pagination__number-link:hover,
.blog-pagination__number-link:focus {
  border: 2px solid #B0C1D4;
} */

/* Blog post */

.blog-post {
  margin: 0 auto;
}

.blog-post__meta {
  margin: 1rem 0;
}

.blog-post__meta a {
  color: #494A52;
  text-decoration: underline;
}

/* Blog related posts */

.blog-recent-posts h2 {
  text-align: center;
}

.blog-recent-posts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.blog-recent-posts__post {
  color: #494A52;
  display: block;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
}

@media screen and (min-width: {{theme.grid.desktop_min}}px) {
  .blog-recent-posts__post {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(100%/2);
    flex: 0 0 calc(100%/2);
  }
}

@media screen and (min-width: 1000px) {
  .blog-recent-posts__post {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(100%/3);
    flex: 0 0 calc(100%/3);
  }
}

.blog-recent-posts__post:hover {
  text-decoration: none;
}

.blog-recent-posts__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 63%;
}

.blog-recent-posts__title {
  margin: 1rem 0 0.5rem;
}

/* Blog comments */

.blog-comments {
  margin: 0 auto;
  max-width: 680px;
}

.blog-comments form {
  max-width: 100%;
}

.blog-comments .hs-submit {
  text-align: center;
}

.blog-comments .hs-button {
  background-color: transparent;
  border: 2px solid #494A52;
  color: #494A52;
}

.blog-comments .hs-button:hover {
  background-color: #494A52;
  color: #FFF;
}

.blog-comments .comment-reply-to {
  border: 0 none;
}

.blog-comments .comment-reply-to:hover {
  background-color: transparent;
  color: #494A52;
  text-decoration: underline;
}

/* .iso-blog-list */
  .iso-blog-list .header {
    padding-top: 48px;
    width: 100%;
    text-align: center;
    background-color: transparent;
  }
  .iso-blog-list .header img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    margin-bottom: 24px;
  }

  .iso-blog-list__row-fluid--custom {
    width: 100%;
    margin-bottom: 24px;
    display:flex;
    justify-content: center;
    align-items: flex-start;
  }

  .iso-blog-list__row-fluid--custom .iso-blog-list__article {
    display: flex;
    padding: 24px 56px 24px 24px;
    margin: 0;
    width: 100%;
    flex: 0 0 auto;
    flex-wrap:wrap;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    justify-content: space-between;
    align-items: center;
  }
  .iso-blog-list__shadowbox-wrapper {
    display: inline-block;
    text-align: center;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 8px 32px rgba(1, 64, 190 , 0.08);
  }

  .iso-blog-list__post-image {
    width: calc((99.9999% / 2) - 12px);
    height: 22.35677083vw;
    max-height: 280px;
    border-radius: 16px;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    align-self: flex-start;
  }

  .iso-blog-list__post-content {
    display: inline-block;
    width: calc((99.9999% / 2) - 12px);
    height: auto;
    text-align: left;
  }

  .iso-blog-list__post-content__header {
    margin-bottom: 16px;
  }

  .iso-blog-list__post-content__content {
    margin-bottom: 24px;
  }
  .iso-blog-list__post-content__content > p {
    margin-bottom: 16px;
  }
  .iso-blog-list__post-content__content > p:last-child {
    margin-bottom: 0;
  }

  @media(max-width: {{theme.grid.desktop_min - 1}}px) {
    .iso-blog-list__row-fluid--custom .iso-blog-list__article {
      padding: 24px;
    }

    .iso-blog-list__post-image {
      margin-bottom: 24px;
      width: 100%;
      height: 37.256771vw;
    }
  
    .iso-blog-list__post-content {
      width: 100%;
    }
  }
/*end of .iso-blog-list */

/* .iso-blog-masonry */
.iso-blog-list .header {
  padding-top: 48px;
  width: 100%;
  text-align: center;
  background-color: transparent;
}
.iso-blog-list .header img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
  margin-bottom: 24px;
}

.iso-blog-masonry__row-fluid--custom {
  width: 100%;
  margin-bottom: 24px;
}

.iso-blog-masonry__row-fluid--custom .grid-item {
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
}

.grid-sizer,
.grid-item { width: calc(33% - 16px); }
.grid-item--width2 { width: calc(66% - 16px); }

.iso-blog-list__shadowbox-wrapper {
  display: inline-block;
  text-align: center;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 8px 32px rgba(1, 64, 190 , 0.08);
}

.iso-blog-masonry .iso-blog-list__post-image {
  width: 100%;
  height: auto;
  max-height: none;
  border-radius: 16px;
  overflow: hidden;
}

.iso-blog-list__post-image img {
  width: 100%;
  height: auto;
}

.iso-blog-list__post-content {
  display: inline-block;
  width: 100%;
  padding: 24px;
  height: auto;
  text-align: left;
}

.iso-blog-list__post-content__header {
  margin-bottom: 16px;
}

.iso-blog-list__post-content__content {
  margin-bottom: 24px;
}
.iso-blog-list__post-content__content > p {
  margin-bottom: 16px;
}
.iso-blog-list__post-content__content > p:last-child {
  margin-bottom: 0;
}

.blog-masonry-content {
  background-color: {{theme.global_colors.element_color.color}};
}

.iso-blog-masonry .blog-post__tags, .iso-blog-masonry .breadcrumbs {
  margin-bottom: 24px;
}

.iso-blog-masonry .newest-badge:before {
  content: 'Najnowszy';
  top: 36px;
  left: 36px;
  display: block;
  position: absolute;
  font-weight: bold;
  color: {{theme.global_colors.primary_color.color}};
  padding: {{theme.buttons.vertical_padding}}px {{theme.buttons.horizontal_padding}}px;
  background: white;
  border-radius: 16px;
  box-shadow: 0 8px 32px rgba({{theme.global_colors.primary_color.color|convert_rgb}}, 0.25);
}

.iso-blog-masonry .newest-badge--en:before {
  content: 'Newest';
}

@media(max-width: {{theme.grid.desktop_min - 1}}px) {
  .iso-blog-masonry .newest-badge:before {
    top: 18px;
    left: 18px;
  }

  .iso-blog-list__row-fluid--custom .iso-blog-list__article {
    padding: 24px;
  }

  .iso-blog-masonry__row-fluid--custom  .iso-blog-list__post-image {
    margin-bottom: 0;
    width: 100%;
    height: auto;
  }

  .iso-blog-list__post-content {
    width: 100%;
  }

  .grid-sizer,
  .grid-item { width: calc(100%); }
  .grid-item--width2 { width: calc(100%); }

  .iso-blog-masonry .blog-pagination__prev-link, .iso-blog-masonry .blog-pagination__next-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .iso-blog-masonry .blog-pagination__next-link .blog-pagination__link__text{
    order: 2;
  }
  @media screen and (max-width:320px) {
    .iso-blog-masonry .blog-pagination__link .blog-pagination__link__text{
      font-size: 9px;
    }
  }
  @media screen and (max-width:320px) {
    .iso-blog-masonry .blog-pagination__prev-link .blog-pagination__link__text{
      font-size: 9px;
    }
  }
  @media screen and (min-width:321px) and (max-width:375px) {
    .iso-blog-masonry .blog-pagination__link .blog-pagination__link__text{
      font-size: 12px;
    }
  }
  @media screen and (min-width:321px) and (max-width:375px) {
    .iso-blog-masonry .blog-pagination__prev-link .blog-pagination__link__text{
      font-size: 12px;
    }
  }
}
/*end of .iso-blog-masonry */

/* iso-blog-post */
.iso-blog-post .body-container > .content-wrapper > .row-fluid-wrapper > .row-fluid {
  justify-content: center;
  display: flex;
}

.iso-blog-post .main-blog-column.main-blog-column.main-blog-column {
  flex-grow: 0;
}

.blog-header__title, .iso-blog-post__image, .iso-blog-post h2, .iso-blog-post h3, .iso-blog-post p,.iso-blog-post .date-and-tags,.iso-blog-post .breadcrumbs {
  margin-bottom: 18px;
}

.iso-blog-post .iso-blog-post__image {
  display: inline-block;
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
}

.iso-blog-post .iso-blog-post__image img{
  display: block;
  width: 100%;
  height: auto;
  border-radius: 16px;
}

.iso-blog-post .archived-badge:before {
  margin: 35px;
  content: 'Archiwum';
  top: auto;
  left: auto;
  display: block;
  position: absolute;
  font-weight: bold;
  color: {{theme.global_colors.primary_color.color}};
  padding: {{theme.buttons.vertical_padding}}px {{theme.buttons.horizontal_padding}}px;
  background: white;
  border-radius: 16px;
  box-shadow: 0 8px 32px rgba({{theme.global_colors.primary_color.color|convert_rgb}}, 0.25);
}

/*something that will serve as a separator when image is unavaliable */
.iso-blog-post__content-separator {
  display: block;
  margin: 0;
  height: 40px;
  width: 100%;
}

.iso-blog-post .date-and-tags {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.blog-post__timestamp {
  padding-right: 12px;
}

.iso-blog-post .blog-post__body img {
  max-width: 100%;
}

.iso-blog-post__shadow-boxes-title {
  text-align: center;
}

@media(max-width: {{theme.grid.desktop_min - 1}}px) {
  .iso-blog-post .iso-blog-post__image {
    height: 43vw;
  }
}

/*end of .iso-blog-post */

.button--tag {
  padding: 8px 16px;
  font-weight: 800;
  margin-bottom: 5px;
}

.button--tag {
  color: {{theme.global_colors.primary_color.color}};
  background-color: {{theme.global_colors.secondary_color.color}};
  border: {{theme.buttons.border_width}}px solid {{theme.global_colors.secondary_color.color}};
}

.button--tag.button--tag:hover, .button--tag.button--tag:focus {
  color: #fff;
  background-color: {{theme.global_colors.primary_color.color}};
  text-decoration: none;
}
