.footer.footer {
  padding: 34px 0 24px;
  margin-bottom: 40px;
  border-radius: 0 0 16px 16px;
  border-top: 2px solid {{theme.global_colors.primary_color.color}};
}

.footer__main-content > .row-fluid, .footer__additional-links .row-fluid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.footer__container--cba .footer__main-content > .row-fluid {
  justify-content: flex-start;
}

.footer__main-content .footer__main-column ul li a {
  text-decoration: none;
  text-align: left;
  font-weight: 400;
}

.footer__main-column ul {
  list-style: none;
  padding: 0;
}

.footer__main-column li {
  margin-bottom: 12px;
}

.footer__main-column:first-of-type li {
  margin-bottom: 12px;
}

.footer__main-column__title {
  font-weight: 700;
}

.footer__eservice-logo {
  height: 30px;
  width: auto;
}

.footer__column-1__text {
  padding-bottom: 5px;
  display: inline-block;
}

.footer__evq-logo {
  position: relative;
  vertical-align: bottom;
  display:none;
}

.footer__evq-logo img {
  height: 18px;
  width: auto;
}

.footer__additional-links {
  padding: 30px 0;
  background-color: {{theme.global_colors.secondary_color.color}};
}

.footer__additional-links .row-fluid {
  display: flex;

}

.footer .social-links {
  justify-content: flex-end;
}

.footer__additional-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__additional-links li {
  display: inline-block;
  width: auto;
  padding-right: 12px;
  text-align: center;
}

.footer__copyright {
  padding-top: 24px;
  text-align: center;
}

@media screen and (max-width: {{theme.grid.desktop_min - 1}}px) {
  .footer .content-wrapper {
    padding: 0 32px;
  }

  .footer__main-content > .row-fluid, .footer__additional-links .row-fluid {
    flex-wrap: wrap;
  }

  .footer__main-column.footer__main-column {
    padding-bottom: 24px;
  }

  .footer__main-column.footer__main-column:first-child {
    order: 5;
  }

  .footer__additional-links li {
    padding-right: 0;
    width: 100%;
    padding-bottom: 24px;
    text-align: center;
  }

  .footer__copyright__text {
    display:inline-block;
    margin: 0 auto;
    max-width: 300px;
  }

  .footer .social-links {
    justify-content: center;
  }
}