@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

body {
  color: #111;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4;
  word-break: break-word;
}

html[lang^="ja"] body,
html[lang^="zh"] body,
html[lang^="ko"] body {
  line-break: strict;
  word-break: break-all;
}

/* Paragraphs */

p {
  font-size: 1rem;
  margin: 0 0 1.4rem;
}

strong {
  font-weight: 700;
}

/* Anchors */

a {
  color: #0270E0;
  cursor: pointer;
  text-decoration: none;
}

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #494A52;
  font-weight: 700;
  margin: 0 0 1.4rem;
}

h1 {
  font-size: 2.1rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.175rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.9rem;
}

/* Lists */

ul,
ol {
  margin: 0 0 1.5rem;
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin: 0;
}

ul.no-list {
  list-style: none;
}

/* Code blocks */

code {
  vertical-align: bottom;
}

/* Blockquotes */

blockquote {
  border-left: 2px solid #A9A9A9;
  margin: 0 0 1.4rem;
  padding-left: 15px;
}

/* Horizontal rules */

hr {
  background-color: #CCC;
  border: none;
  color: #CCC;
  height: 1px;
}

/* Subscripts and superscripts */

sup,
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Focus styles */

.enable-focus-styles :focus {
  /* outline: auto; */
  outline-color: MediumBlue;
  outline-color: #0140BE;
  outline-offset: 2px;
  outline-width: 2px;
}

.enable-focus-styles a:-moz-focusring,.enable-focus-styles button:-moz-focusring,.enable-focus-styles [type="submit"]:-moz-focusring,.enable-focus-styles [type="reset"]:-moz-focusring {
  outline-style: solid;
  outline-width: 2px;
  outline-color: #0140BE;
}

.enable-focus-styles .button:focus, .enable-focus-styles a:focus {
  transform: scale(1.05);
}

.disable-focus-styles :focus {
  outline: none;
}

.resize-step-one-styles,
.resize-step-one-styles p,
.resize-step-one-styles .hs_cos_wrapper_type_rich_text p,
.resize-step-one-styles .hs_cos_wrapper_type_rich_text p span,
.resize-step-one-styles .hs_cos_wrapper_type_rich_text ul > li,
.resize-step-one-styles .hs_cos_wrapper_type_rich_text ul > li span,
.resize-step-one-styles .hs_cos_wrapper_type_rich_text a,
.resize-step-one-styles a,
.resize-step-one-styles .button,
.resize-step-one-styles input[type="submit"],
.resize-step-one-styles h4,
.resize-step-one-styles .hs_cos_wrapper_type_rich_text h4,
.resize-step-one-styles h5,
.resize-step-one-styles .hs_cos_wrapper_type_rich_text h5,
.resize-step-one-styles .step-by-step__content h5,
.resize-step-one-styles h6,
.resize-step-one-styles .hs_cos_wrapper_type_rich_text h6,
.resize-step-one-styles form label, .resize-step-one-styles form label * {
  font-size: 24px !important;
  line-height: 1.4 !important;
}

.resize-step-one-styles h1,
.resize-step-one-styles h1 strong,
.resize-step-one-styles .hs_cos_wrapper_type_rich_text h1,
.resize-step-one-styles h2,
.resize-step-one-styles .hs_cos_wrapper_type_rich_text h2,
.resize-step-one-styles h3,
.resize-step-one-styles .hs_cos_wrapper_type_rich_text h3,
.resize-step-one-styles .submitted-message {
  font-size: 30px !important;
  line-height: 1.1 !important;
}

.resize-step-two-styles,
.resize-step-two-styles p,
.resize-step-two-styles .hs_cos_wrapper_type_rich_text p,
.resize-step-two-styles .hs_cos_wrapper_type_rich_text p span,
.resize-step-two-styles .hs_cos_wrapper_type_rich_text ul > li,
.resize-step-two-styles .hs_cos_wrapper_type_rich_text ul > li span,
.resize-step-two-styles .hs_cos_wrapper_type_rich_text ul > li,
.resize-step-two-styles .hs_cos_wrapper_type_rich_text a,
.resize-step-two-styles a,
.resize-step-two-styles .button,
.resize-step-two-styles input[type="submit"],
.resize-step-two-styles h4,
.resize-step-two-styles .hs_cos_wrapper_type_rich_text h4,
.resize-step-two-styles h5,
.resize-step-two-styles .hs_cos_wrapper_type_rich_text h5,
.resize-step-two-styles .step-by-step__content h5,
.resize-step-two-styles h6,
.resize-step-two-styles .hs_cos_wrapper_type_rich_text h6,
.resize-step-two-styles form label, .resize-step-two-styles form label *  {
  font-size: 32px !important;
  line-height: 1.2 !important;
}

.resize-step-two-styles h1,
.resize-step-two-styles .hs_cos_wrapper_type_rich_text h1,
.resize-step-two-styles h2,
.resize-step-two-styles .hs_cos_wrapper_type_rich_text h2,
.resize-step-two-styles h3,
.resize-step-two-styles .hs_cos_wrapper_type_rich_text h3,
.resize-step-two-styles .submitted-message  {
  font-size: 40px !important;
  line-height: 1.1 !important;
}

.resize-step-one-styles #hs_cos_wrapper_Hero-text_ h1, .resize-step-one-styles #hs_cos_wrapper_Hero-text_ h1 strong {
  font-size: 36px !important;
  line-height: 1.4 !important;
}
.resize-step-one-styles .header-with-hero, .resize-step-two-styles .header-with-hero {
  height: 100%;
}
.resize-step-two-styles .header-with-hero {
  background-size: auto;
}