<!-- module html  -->
<div class="shadow-box-side-image__wrapper">
    <h3 class="shadow-box-side-image__section-title">{{module.section_title}}</h3>
    <div class="shadow-box-side-image__items-container">
        {% for item in module.section_block %}
        <!-- whole element is clickable if there's only one action -->
        {% if ((item.has_additional_field != true) or (item.additional_field.is_additional_image)) and (item.link_group.link.url.href is not truthy) %} 
            <div class="shadow-box-side-image__item">
                <div class="shadow-box-side-image__image-wrapper">
                    <img src="{{item.image.src}}" alt="{{item.image.alt}}">
                </div>
                <div class="shadow-box-side-image__content-wrapper">
                    <h3 class="shadow-box-side-image__item-title">{{item.title}}</h3>
                    <div class="shadow-box-side-image__item-content">
                        {{item.content}}
                    </div>
                    <div class="shadow-box-side-image__bottom-content">
                        {% if item.has_additional_field %}
                            <div class="shadow-box-side-image__additional-field">
                                {% if item.additional_field.secondary_link_group.is_cta %}
                                <div class="shadow-box-side-image__cta-wrapper {{item.additional_field.secondary_link_group.style}}">
                                    {{ cta(item.additional_field.secondary_link_group.cta) }}
                                </div>
                                {% else %}  
                                    <a class="{{item.additional_field.secondary_link_group.style}}" href="{{item.additional_field.secondary_link_group.link.url.href}}" target="{% if item.additional_field.secondary_link_group.link.open_in_new_tab %}_blank{% else %}_self{% endif %}" tabindex="0">{{item.additional_field.secondary_link_group.text}}</a>
                                {% endif%}
                            </div>
                        {% endif %}

                        <div class="shadow-box-side-image__base-field">
                            {% if item.link_group.is_cta %}
                                <div class="shadow-box-side-image__cta-wrapper {{item.link_group.style}}">
                                    {{ cta(item.link_group.cta) }}
                                </div>
                            {% else %}
                                <a class="{{item.link_group.style}}" href="{{item.link_group.link.url.href}}" target="{% if item.link_group.link.open_in_new_tab %}_blank{% else %}_self{% endif %}" tabindex="0">{{item.link_group.text}}</a>
                            {% endif%}
                        </div>

                    </div>
                </div>
            </div>
        {% else %}
            <div class="shadow-box-side-image__item click-propagator">
                <div class="shadow-box-side-image__image-wrapper">
                    <img src="{{item.image.src}}" alt="{{item.image.alt}}">
                </div>
                <div class="shadow-box-side-image__content-wrapper">
                    <h3 class="shadow-box-side-image__item-title">{{item.title}}</h3>
                    <div class="shadow-box-side-image__item-content">
                        {{item.content}}
                    </div>
                    <div class="shadow-box-side-image__bottom-content">
                        {% if item.has_additional_field %}
                            <div class="shadow-box-side-image__additional-field">
                                <img src="{{item.additional_field.image.src}}" alt="{{(item.has_additional_field and !item.additional_field.is_additional_image) OR (item.has_additional_field != true) }}" />
                            </div>
                        {% endif %}

                        <div class="shadow-box-side-image__base-field">
                            {% if item.link_group.is_cta %}
                                <div class="shadow-box-side-image__cta-wrapper {{item.link_group.style}}">
                                    {{ cta(item.link_group.cta) }}
                                </div>
                            {% else %}
                                <div style="display:none">{{item.link_group.link.open_in_new_tab}}</div>
                                <a class="{{item.link_group.style}}" href="{{item.link_group.link.url.href}}" target="{% if item.link_group.link.open_in_new_tab %}_blank{% else %}_self{% endif %}" tabindex="0">{{item.link_group.text}}</a>
                            {% endif%}
                        </div>

                    </div>
                </div>
            </div>
        {% endif %}

        {% endfor %}
    </div>
</div>